
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Update Evalution Question</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Evalution Question</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="gotoList();">
							<a class="btn btn-primary"> <i class="fa fa-list"></i>
								Evalution Question List
							</a>
						</div>
					</div>
					<div class="panel-body">

						 <form class="col-sm-6" name="addQuestionform">
                                         <div class="form-group">
							                        <label>Evalution Question Name</label> 
							                        <input type="text" value="" class="form-control" name="QuestionName" placeholder="Enter Evalution Question Name"
								                    ng-model="evalutionQuestion.questionName" aria-required="true"
								                    aria-invalid="true"
								                    ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
								                    required> <span style="color: red" ng-cloak
								                    ng-show="(addQuestionform.QuestionName.$touched && addQuestionform.QuestionName.$invalid)">
								                    <span ng-show="addQuestionform.QuestionName.$error.required">Evalution Question Name is required.</span>
					 	               </div>
                                         
                                       
                                          <div class="row" align="center">
						                       <span ng-if="message != undefined" style="color: red">{{message}}<br>
						                       </span><br>
					                      </div>          
                                          <div class="reset-button">
                                           <button  class="btn btn-success" ng-click="updateEvalutionQuestion(evalutionQuestion)" ng-disabled="addQuestionform.$invalid">Update</button>
                                           <a class="btn btn-warning" ng-click="gotoback()">Cancel</a>
                                           
                                       </div>
                                   </form>
					</div>
				</div>
			</div>


		</div>


	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

