<div class="content-wrapper"
	ng-init="getAllDepartments();getAllPatients();getAllTherapists();getAppointmentssByRole();myFunctionDuration();initmethod();">
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Appointment</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Appointment</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group">
							<a class="btn btn-primary" ng-click="gotoList();"> <i
								class="fa fa-list"></i> Appointment List
							</a>
						</div>
					</div>

					<div class="panel-body">
						<form class="col-sm-12" name="patientForm">


							<div class="col-sm-10 form-group col-sm-offset-2">



								<div class="col-sm-4">
									<label>Starts At</label>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" name="date"
										placeholder="Enter StartDate"
										ng-model="appointment.appointmentStartedDate | date : 'MM/dd/yyyy'"
										ng-change="appointment.weekDays=appointment.appointmentStartedDate.getDay()"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required> <span style="color: red" ng-cloak
										ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
										<span ng-show="patientForm.date.$error.required">Date
											is required.</span>
								</div>
								<div class="col-sm-3" ng-if="flag">
									<input type="date" class="form-control" name="date1"
										placeholder="Enter DOB"
										ng-model="appointment.appointmentStartedDate"
										ng-change="appointment.weekDays=appointment.appointmentStartedDate.getDay()"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required> <span style="color: red" ng-cloak
										ng-show="(patientForm.date1.$touched && patientForm.date1.$invalid)">
										<span ng-show="patientForm.date1.$error.required">Start Date
											is required.</span><br>
									
								</div>
								<div class="col-sm-3">
									<select class="form-control" ng-model="appointmentStartTime"
										data-md-container-class="selectdemoSelectHeader">
										<option value="" class="active">Start time</option>
										<option value="00:00:00">12:00 AM</option>
										<option value="00:30:00">12:30 AM</option>
										<option value="01:00:00">01:00 AM</option>
										<option value="01:30:00">01:30 AM</option>
										<option value="02:00:00">02:00 AM</option>
										<option value="02:30:00">02:30 AM</option>
										<option value="03:00:00">03:00 AM</option>
										<option value="03:30:00">03:30 AM</option>
										<option value="04:00:00">04:00 AM</option>
										<option value="04:30:00">04:30 AM</option>
										<option value="05:00:00">05:00 AM</option>
										<option value="05:30:00">05:30 AM</option>
										<option value="06:00:00">06:00 AM</option>
										<option value="06:30:00">06:30 AM</option>
										<option value="07:00:00">07:00 AM</option>
										<option value="07:30:00">07:30 AM</option>
										<option value="08:00:00">08:00 AM</option>
										<option value="08:30:00">08:30 AM</option>
										<option value="09:00:00">09:00 AM</option>
										<option value="09:30:00">09:30 AM</option>
										<option value="10:00:00">10:00 AM</option>
										<option value="10:30:00">10:30 AM</option>
										<option value="11:00:00">11:00 AM</option>
										<option value="11:30:00">11:30 AM</option>
										<option value="12:00:00">12:00 PM</option>
										<option value="12:30:00">12:30 PM</option>
										<option value="13:00:00">01:00 PM</option>
										<option value="13:30:00">01:30 PM</option>
										<option value="14:00:00">02:00 PM</option>
										<option value="14:30:00">02:30 PM</option>
										<option value="15:00:00">03:00 PM</option>
										<option value="15:30:00">03:30 PM</option>
										<option value="16:00:00">04:00 PM</option>
										<option value="16:30:00">04:30 PM</option>
										<option value="17:00:00">05:00 PM</option>
										<option value="17:30:00">05:30 PM</option>
										<option value="18:00:00">06:00 PM</option>
										<option value="18:30:00">06:30 PM</option>
										<option value="19:00:00">07:00 PM</option>
										<option value="19:30:00">07:30 PM</option>
										<option value="20:00:00">08:00 PM</option>
										<option value="20:30:00">08:30 PM</option>
										<option value="21:00:00">09:00 PM</option>
										<option value="21:30:00">09:30 PM</option>
										<option value="22:00:00">10:00 PM</option>
										<option value="22:30:00">10:30 PM</option>
										<option value="23:00:00">11:00 PM</option>
										<option value="23:30:00">11:30 PM</option>
									</select><br>
								</div>
								<div class="col-sm-4">
									<label>Ends At</label>
								</div>
								<div class="col-sm-3" ng-if="appointment.occurance!='WEEKLY'">
									<input type="text" class="form-control" name="date"
										placeholder="Enter EndDate"
										ng-model="appointment.appointmentEnddate | date : 'MM/dd/yyyy'"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required> <span style="color: red" ng-cloak
										ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
										<span ng-show="patientForm.date.$error.required">Date
											is required.</span>
								</div>
								<div class="col-sm-3" ng-if="appointment.occurance=='WEEKLY'">
										<input type="DATE" class="form-control" name="date"
											ng-disabled="appointment.end!=2" placeholder="Enter DOB"
											ng-model="appointment.appointmentEndedDate"
											ng-click="makeOccurrenceNull()" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											required> <span style="color: red" ng-cloak
											ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
											<span ng-show="patientForm.date.$error.required">Date
												is required.</span>
									</div>
								<div class="col-sm-3" ng-if="flag">
									<input type="date" class="form-control" name="date"
										placeholder="Enter DOB"
										ng-model="appointment.appointmentEnddate"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required> <span style="color: red" ng-cloak
										ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
										<span ng-show="patientForm.date.$error.required">End Date
											is required.</span><br>
									
								</div>
						<!-- 		
								<div class="col-sm-4">
									<label>Duration</label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" ng-model="appointment.duration"
										ng-change="myFunc()"
										data-md-container-class="selectdemoSelectHeader">
										<option value="" class="active">Start Duration</option>
										<option value="00:30:00">30 minutes</option>
										<option value="01:00:00">1 hour</option>
										<option value="01:30:00">1hr 30min</option>
										<option value="02:00:00">2 hours</option>
										<option value="02:30:00">2hr 30min</option>
										<option value="03:00:00">3 hours</option>
										<option value="03:30:00">3hr 30min</option>
										<option value="04:00:00">4 hours</option>
										<option value="04:30:00">4hr 30min</option>
										<option value="05:00:00">5 hours</option>
										<option value="05:30:00">5hr 30min</option>
										<option value="06:00:00">6 hours</option>
										<option value="06:30:00">6hr 30min</option>
										<option value="07:00:00">7 hours</option>
										<option value="07:30:00">7hr 30min</option>
										<option value="08:00:00">8 hours</option>
										<option value="08:30:00">8hr 30min</option>
										<option value="09:00:00">9 hours</option>
										<option value="09:30:00">9hr 30min</option>
										<option value="10:00:00">10 hours</option>
										<option value="10:30:00">10hr 30min</option>
										<option value="11:00:00">11 hours</option>
										<option value="11:30:00">11hr 30min</option>
										<option value="12:00:00">12 hours</option>

									</select><br>
								</div> -->
								<!-- <div class="col-sm-4">
									<label>Ends At</label>&nbsp;{{appointment.appointmentEndedDate}}
								</div>
								<div class="col-sm-3">
									<input type="DATE" class="form-control" name="date"
										placeholder="Enter DOB" ng-model="appointment.appointmentEndedDate"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required> <span style="color: red" ng-cloak
										ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
										<span ng-show="patientForm.date.$error.required">Date
											is required.</span>
								</div> -->
								<div class="col-sm-3">
									<select class="form-control" ng-model="appointmentEndTime"
										data-md-container-class="selectdemoSelectHeader">
										<option value="" class="active">End time</option>
										<option value="00:00:00">12:00 AM</option>
										<option value="00:30:00">12:30 AM</option>
										<option value="01:00:00">01:00 AM</option>
										<option value="01:30:00">01:30 AM</option>
										<option value="02:00:00">02:00 AM</option>
										<option value="02:30:00">02:30 AM</option>
										<option value="03:00:00">03:00 AM</option>
										<option value="03:30:00">03:30 AM</option>
										<option value="04:00:00">04:00 AM</option>
										<option value="04:30:00">04:30 AM</option>
										<option value="05:00:00">05:00 AM</option>
										<option value="05:30:00">05:30 AM</option>
										<option value="06:00:00">06:00 AM</option>
										<option value="06:30:00">06:30 AM</option>
										<option value="07:00:00">07:00 AM</option>
										<option value="07:30:00">07:30 AM</option>
										<option value="08:00:00">08:00 AM</option>
										<option value="08:30:00">08:30 AM</option>
										<option value="09:00:00">09:00 AM</option>
										<option value="09:30:00">09:30 AM</option>
										<option value="10:00:00">10:00 AM</option>
										<option value="10:30:00">10:30 AM</option>
										<option value="11:00:00">11:00 AM</option>
										<option value="11:30:00">11:30 AM</option>
										<option value="12:00:00">12:00 PM</option>
										<option value="12:30:00">12:30 PM</option>
										<option value="13:00:00">01:00 PM</option>
										<option value="13:30:00">01:30 PM</option>
										<option value="14:00:00">02:00 PM</option>
										<option value="14:30:00">02:30 PM</option>
										<option value="15:00:00">03:00 PM</option>
										<option value="15:30:00">03:30 PM</option>
										<option value="16:00:00">04:00 PM</option>
										<option value="16:30:00">04:30 PM</option>
										<option value="17:00:00">05:00 PM</option>
										<option value="17:30:00">05:30 PM</option>
										<option value="18:00:00">06:00 PM</option>
										<option value="18:30:00">06:30 PM</option>
										<option value="19:00:00">07:00 PM</option>
										<option value="19:30:00">07:30 PM</option>
										<option value="20:00:00">08:00 PM</option>
										<option value="20:30:00">08:30 PM</option>
										<option value="21:00:00">09:00 PM</option>
										<option value="21:30:00">09:30 PM</option>
										<option value="22:00:00">10:00 PM</option>
										<option value="22:30:00">10:30 PM</option>
										<option value="23:00:00">11:00 PM</option>
										<option value="23:30:00">11:30 PM</option>

									</select><br>
								</div>
								<div class="col-sm-2" ng-disabled="patientForm.$invalid">
									<a ng-disabled="patientForm.$invalid"
										ng-click="searchSchedulesCalender(appointment.appointmentStartedDate,appointment.appointmentEnddate);"><small class="label-info label label-default" ng-disabled="!appointment.appointmentStartedDate || !appointment.appointmentEnddate">Check
											Availability</small></a>
								</div>
								
								
								<div class="col-sm-4">
									<label>Title</label>
								</div>
								<!-- <div class="col-sm-6" ng-if="flag">
									<input class="form-control" ng-model="appointment.description"
										rows="3" placeholder="problem"><br>
								</div> -->
								<!--  -->
								<div class="col-sm-6">
									<input  class="form-control" name="problem"
										placeholder="problem"
										ng-model="appointment.description"
										aria-invalid="true"
										ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
										required><br> <span style="color: red" ng-cloak
										ng-show="(patientForm.problem.$touched && patientForm.problem.$invalid)">
										<span ng-show="patientForm.problem.$error.required">Title
											is required.</span>
									
								</div>
								<!--  -->
								<div class="col-sm-4">
									<label>Patient Name</label>
								</div>
								<div class="col-sm-6">
									<select name="patient" class="form-control"
										ng-model="appointment.patient"
										ng-options="patient as patient.firstName for patient in  patientList"
										required>
										<option value="" class="active">Select Patient</option>
									</select><br> <span style="color: red" ng-cloak
										ng-show="(patientForm.patient.$touched && patientForm.patient.$invalid)">
										<span ng-show="patientForm.patient.$error.required">Patient
											is required.</span>
								</div>
								
								<!-- <div class="col-sm-4"
									ng-if="loggedUserRole!='Therapist' && !flag">
									<label>Therapist Name </label>
								</div>
								<div class="col-sm-6"
									ng-if="loggedUserRole!='Therapist' && !flag">
									<select name="doctor" class="form-control" ng-model="doctor"
										ng-options="doctor as doctor.firstName for doctor in  therapistList">
										<option value="" class="active">Select Therapist</option>
										<option ng-if="loggedUserRole==user.role.roleName">{{user.role.roleName}}</option>
									</select> <br>
								</div> -->
								
								<div class="col-sm-4"
									>
									<label>Therapist Name</label>
								</div>
								<div class="col-sm-6"
									>
									<input name="doctor" class="form-control" ng-model="doctorname"  ng-disabled="doctorname"/>
									 <br>
								</div>
								
								<div class="col-sm-4">
									<label>Repeat Appointment</label>
								</div>
								<div class="col-sm-6">
									<select name="occurance" ng-model="appointment.occurance"
										class="form-control" required>
										<option value="" class="active">Select Appointment</option>
										<option value="NEVER" class="active">Once</option>
										<!-- <option value="DAILY">Daily</option> -->
										<option value="WEEKLY">Weekly</option>
										<!-- <option value="MONTHLY">Monthly</option> -->
									</select><br><span style="color: red" ng-cloak
										ng-show="(patientForm.occurance.$touched && patientForm.occurance.$invalid)">
										<span ng-show="patientForm.occurance.$error.required">Repeat Appointment
											is required.</span>
								</div>
								<!-- <div class="col-sm-6" ng-if="flag">
									<select name="patient" class="form-control"
										ng-model="appointment.patient"
										ng-options="patient as patient.firstName for patient in  patientList"
										required>
										<option value="" class="active">Select Patient</option>
									</select><br> <span style="color: red" ng-cloak
										ng-show="(patientForm.patient.$touched && patientForm.patient.$invalid)">
										<span ng-show="patientForm.patient.$error.required">Patient
											is required.</span>
								</div> -->
								<div ng-if="appointment.occurance=='DAILY'">
									<div class="col-sm-4">
										<label>Repeat Every</label>&nbsp;day(s)
									</div>
									<div class="col-sm-6">
										<input name="title" type="number" class="form-control"
											placeholder="days" ng-model="appointment.weeks" ng-value="1"
											size="4" aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number">
									</div>
								</div>
								<div ng-if="appointment.occurance=='DAILY'">
									<div class="col-sm-4">
										<label>End:</label>
									</div>
									<div class="col-sm-6 border1">
										<label class="radio-inline" style="margin-left: 13px;">
											<input type="radio" ng-model="appointment.end" name="status"
											ng-value="0" ng-checked="!department.status55">Never
										</label>
									</div>
									<div class="col-sm-4">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline" style="margin-left: 9px;">
											<input type="radio" ng-model="appointment.end" name="status"
											ng-value="1" ng-checked="!department.status">After
										</label>
									</div>
									<div class="col-sm-3" style="margin-left: 10px;">
										<input name="title" type="number" class="form-control"
											ng-disabled="appointment.end!=1"
											ng-model="appointment.afterOccurrence" ng-value="1" size="4"
											aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number">
									</div>
									<div class="col-sm-2">
										occurrence(s)<br> <br>
									</div>


									<div class="col-sm-4 border1">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline"> <input type="radio"
											ng-model="appointment.end" name="status" ng-value="2"
											ng-checked="!department.status44">On 
									</div>
									</label>
									<div class="col-sm-3">
										<input type="DATE" class="form-control" name="date"
											ng-disabled="appointment.end!=2" placeholder="Enter DOB"
											ng-model="appointment.appointmentEndedDate"
											aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											required> <span style="color: red" ng-cloak
											ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
											<span ng-show="patientForm.date.$error.required">Date
												is required.</span>
									</div>
								</div>




								<div ng-if="appointment.occurance=='WEEKLY'">
									<div class="col-sm-4">
										<label>Repeat Every</label>&nbsp;(in week(s))
									</div>
									<div class="col-sm-6">
										<input name="title" type="number" class="form-control"
											placeholder="days" ng-model="appointment.weeks" ng-value="1"
											size="4" aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number">
									</div>
								</div>
								<div ng-if="appointment.occurance=='WEEKLY'">
									<div class="col-sm-4">
										<label>End:</label>
									</div>
									<div class="col-sm-6 border1">
										<label class="radio-inline" style="margin-left: 13px;">
											<input type="radio" ng-model="appointment.end" name="status"
											ng-value="0">Never
										</label>
									</div>
									<div class="col-sm-4">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline" style="margin-left: 9px;">
											<input type="radio" ng-model="appointment.end" name="status"
											ng-value="1">After
										</label>
									</div>
									<div class="col-sm-3" style="margin-left: 10px;">
										<input name="title" type="number" class="form-control"
											ng-disabled="appointment.end!=1"
											ng-click="makeEndNumberNull()"
											ng-model="appointment.afterOccurrence" ng-value="1" size="4"
											ng-change="myFunction()" aria-required="true"
											aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number">
									</div>
									<div class="col-sm-2">
										occurrence(s)<br> <br>
									</div>


									<div class="col-sm-4 border1">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline"> <input type="radio"
											ng-model="appointment.end" name="status" ng-value="2"
											ng-checked="!department.status">On
										</label>
									</div>
									<div class="col-sm-3">
										<input type="DATE" class="form-control" name="date"
											ng-disabled="appointment.end!=2" placeholder="Enter DOB"
											ng-model="appointment.appointmentEndedDate"
											ng-click="makeOccurrenceNull()" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											required> <span style="color: red" ng-cloak
											ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
											<span ng-show="patientForm.date.$error.required">Date
												is required.</span>
									</div>
									<div class="col-sm-2 border1">
										&nbsp;<br>
									</div>
									<div class="col-sm-4 border1">
										<label>Repeat every:</label>
									</div>
									<!-- <div class="col-sm-6">
										<label ng-value="day" ng-repeat="day in weekDays"> <input
											type="checkbox" checklist-model="appointment.weekDays" 
											checklist-value="day">&nbsp;{{day}}&nbsp;&nbsp;&nbsp;
										</label>
									</div> -->
									<div class="col-sm-6">
										<label class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="1"
											ng-checked="appointment.weekDays">Monday</label> <label
											class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="2"
											ng-checked="appointment.weekDays">Tuesday</label> <label
											class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="3"
											ng-checked="appointment.weekDays">Wednesday</label><br>
										<input type="radio" ng-model="appointment.weekDays"
											name="status1" ng-value="4" ng-checked="appointment.weekDays">Thursday
										<label class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="5"
											ng-checked="appointment.weekDays">Friday</label> <label
											class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="6"
											ng-checked="appointment.weekDays">Saturday</label> <label
											class="radio-inline"><input type="radio"
											ng-model="appointment.weekDays" name="status1" ng-value="0"
											ng-checked="appointment.weekDays">Sunday</label>

									</div>
									<!-- <div class="col-sm-6" >
										<input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="1"  ng-checked="appointment.weekDays" >&nbsp;<font face="verdana" >Monday</font>&nbsp;
                                        <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="2" ng-checked="appointment.weekDays" >&nbsp;<font face="verdana" >Tuesday</font>&nbsp;
                                         <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="3"  ng-checked="appointment.weekDays" >&nbsp;<font face="verdana" >Wednesday</font>&nbsp;
                                         <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="4"   ng-checked="appointment.weekDays" >&nbsp;<font face="verdana">Thursday</font>&nbsp;
                                         <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="5"  ng-checked="appointment.weekDays" >&nbsp;<font face="verdana">Friday</font>&nbsp;&nbsp;
                                         <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="6"  ng-checked="appointment.weekDays" >&nbsp;<font face="verdana">Saturday</font>&nbsp;&nbsp;
                                         <input type="checkbox"  ng-model="appointment.weekDays" name="status1"     ng-value="0"  ng-checked="appointment.weekDays" >&nbsp;<font face="verdana">Sunday</font>&nbsp;&nbsp;
                                       
									</div> -->
									<!-- 
									<div class="col-sm-6">
										<label ng-value="day" ng-repeat="day in weekDays"> <input
											type="checkbox" checklist-model="appointment.weekDays"
											checklist-value="day">&nbsp;{{day}}&nbsp;&nbsp;&nbsp;
										</label>
									</div> -->
									<!--  -->
									<!--  -->
								</div>



								<!--Monthly -->
								<!-- <div ng-if="appointment.occurance=='MONTHLY'">
									<div class="col-sm-4">
										<label>Repeat Every</label>&nbsp;day(s)
									</div>
									<div class="col-sm-6">
										<input name="title" type="number" class="form-control"
											placeholder="days" ng-model="appointment.weeks" ng-value="1"
											size="4" aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number"><br>
									</div>
									<div class="col-sm-4">
										<label>Repeat on:</label>
									</div>
									<div class="col-sm-1">
										<label class="radio-inline" style="margin-left: 9px;">
											<input type="radio" ng-model="appointment.repeateOn"
											ng-click="makeStringNull()" name="status" ng-value="0">day
										</label>
									</div>
									<div class="col-sm-5">
										<input name="title" type="number" class="form-control"
											ng-disabled="appointment.repeateOn!=0"
											ng-model="appointment.repeatOnDay" ng-value="1" size="4"
											aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number"><br>
									</div>
									<div class="col-sm-4">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline" style="margin-left: 9px;">
											<input type="radio" ng-model="appointment.repeateOn"
											ng-click="makeNumberNull()" name="status" ng-value="1">
										</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"
											ng-disabled="appointment.repeateOn!=1"
											ng-model="appointment.repeatOnWhichWeek"
											md-on-close="clearSearchTerm()"
											data-md-container-class="selectdemoSelectHeader">
											<option value="" class="active">select</option>
											<option value="FIRST" class="active">First</option>
											<option value="SECOND">Second</option>
											<option value="THIRD">Third</option>
											<option value="FOURTH">Fourth</option>
											<option value="LAST">Last</option>
										</select>
									</div>
									<div class="col-sm-3">
										<select class="form-control"
											ng-disabled="appointment.repeateOn!=1"
											ng-model="appointment.repeatOnWeek"
											md-on-close="clearSearchTerm()"
											data-md-container-class="selectdemoSelectHeader">
											<option value="" class="active">select week</option>
											<option value="DAY" class="active">day</option>
											<option value="WEEKDAY">Week Day</option>
											<option value="SUNDAY">Sunday</option>
											<option value="MONDAY">Monday</option>
											<option value="TUESDAY">Tuesday</option>
											<option value="WEDNESDAY">Wednesday</option>
											<option value="THURSDAY">Thursday</option>
											<option value="FRIDAY">Friday</option>
											<option value="SATURDAY">Saturday</option>
										</select>
									</div>
								</div>
								<div ng-if="appointment.occurance=='MONTHLY'">
									<div class="col-sm-4">
										<label>End:</label>
									</div>
									<div class="col-sm-6 border1">
										<label class="radio-inline" style="margin-left: 13px;">
											<input type="radio" ng-model="appointment.end"
											ng-click="makeEndNumberNull()" name="status" ng-value="0"
											ng-checked="!department.status">Never
										</label>
									</div>
									<div class="col-sm-4">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline" style="margin-left: 9px;">
											<input type="radio" ng-model="appointment.end" name="status"
											ng-value="1" ng-checked="!department.status">After
										</label>
									</div>
									<div class="col-sm-3" style="margin-left: 10px;">
										<input name="title" type="number" class="form-control"
											ng-disabled="appointment.end!=1"
											ng-model="appointment.afterOccurrence" ng-value="1" size="4"
											aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											type="number">
									</div>
									<div class="col-sm-2">
										occurrence(s)<br> <br>
									</div>


									<div class="col-sm-4 border1">&nbsp;</div>
									<div class="col-sm-1">
										<label class="radio-inline"> <input type="radio"
											ng-model="appointment.end" name="status" ng-value="2"
											ng-checked="!department.status">On
										</label>
									</div>

									<div class="col-sm-3">
										<input type="DATE" class="form-control" name="date"
											ng-disabled="appointment.end!=2" placeholder="Enter DOB"
											ng-model="patient.dateOfBirth1" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											required> <span style="color: red" ng-cloak
											ng-show="(patientForm.date.$touched && patientForm.date.$invalid)">
											<span ng-show="patientForm.date.$error.required">Date
												is required.</span>
									</div>
								</div>
							</div> -->
							<!-- 	<md-datepicker ng-model="birthday"></md-datepicker> -->
							<div class="reset-button col-sm-12">
								<button class="btn btn-success" ng-disabled="patientForm.$invalid" ng-click="addAppointment();">Submit</button>
								<a class="btn btn-warning" ng-click="gotoCalender()">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>