<div class="content-wrapper" ng-init="getAppointmentssByRoleByPagination();">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-box1"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Appointment List</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Appointment List</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-if="loggedUserRole != 'Therapist'">
							<a class="btn btn-success" ng-click="gotoAdd();"> <i
								class="fa fa-plus"></i>Add Appointment
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<!-- <div class="panel-header">
								<div class="col-sm-4">
									<div class="dataTables_length">
										<label>Display <select name="example_length">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select> records per page
										</label>
									</div>
								</div>
								<div class="col-sm-4">
									
								</div>
							</div> -->
							<div class="col-sm-4 form-group col-sm-offset-2">
								<mdp-date-picker mdp-placeholder="From Date"
									ng-model="StartedDate"></mdp-date-picker>
							</div>

							<div class="col-sm-4 form-group">
								<mdp-date-picker mdp-placeholder="To Date" ng-model="EndedDate"></mdp-date-picker>
							</div>
							<div class="col-sm-1 form-group">
								<button class="btn btn-primary" type="button"
									ng-click="getListBetweenDates()">

									<span class="glyphicon glyphicon-search"></span></button>
							</div>

						</div>
						

						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>

										<th>Therapist Name</th>
										<th>Patient Name</th>
										<!-- <th>problem</th> -->
										<th>Start date</th>
										<th>Start Time</th>
										<th>End date</th>
										<th>End Time</th>
										<th>Scheduled By</th>
                                        <th>Status</th>
										<!-- <th>Appionment End date</th>
									<th>Appionment End Time</th> -->
										<th>Action</th>
										<!-- <th>Appointment Repeat</th> -->
									</tr>
								</thead>
								<tbody>
								
									<tr
										ng-repeat="appointment in appointmentsList| orderBy : 'id':true">

										<td>{{appointment.doctor.firstName}} {{appointment.doctor.lastName}}</td>
										<td>{{appointment.patient.firstName}}</td>
										<!-- <td>{{appointment.description}}</td> -->
										<!-- <td>{{appointment.appointmentStartDate |
										date:'dd-MM-yyyy'}}</td> -->
										<td>{{changeDate(appointment.appointmentStartedDate);}}</td>
										<td>{{appointment.appointmentStartTime }}</td>
										<td>{{changeDate(appointment.appointmentEndedDate);}}</td>
										<td>{{appointment.appointmentEndTime }}</td>
										<td>{{appointment.person.firstName}}</td>
										<td><span class="label-success label label-default" ng-if="appointment.occurance=='NEVER'">Once</span>
							                <span class="label-info label label-default" ng-if="appointment.occurance=='WEEKLY'">Recursive</span>			
										</td>
										<!-- <td>{{appointment.appointmentEndedDate }}</td>
									<td>{{appointment.appointmentEndTime }}</td> -->
										<!--  <td ng-click="gotoPatientViewPage(pa)">View More</td> -->

										<!-- <td>
										<button class="btn btn-info btn-sm" data-toggle="tooltip"
											data-placement="left" ng-click="gotoupdate(appointment);"
											title="Update">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button>

									</td> -->
										<!-- <td>
											<button class="btn btn-danger btn-sm" data-toggle="modal"
												data-target="#ordine" title="Delete">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button>
											<div id="ordine" class="modal fade" role="dialog">
												<div class="modal-dialog">

													Modal content
													<div class="modal-content ">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">x</button>
															<h4 class="modal-title">Please Confirm</h4>
														</div>
														<div class="modal-body" align="center">
															<img src="assets/186387_BXkkyI1E.jpg" width="1px"
																height="150px" class="col-sm-12" align="center"> <br>
															<br> <br>
															<br><br>
															<br> <br>
															<br>
															<button type="button" class="btn btn-info"
																data-dismiss="modal" class="col-sm-6">No Cancle
																Plx!</button>
															&nbsp;&nbsp;&nbsp;

															<button class="btn btn-danger"
																data-placement="right" data-dismiss="modal"
																ng-click="deleteAppointmentMethod(appointment.id);"
																>Yes Delete It!
															</button>
														</div>
													</div>
												</div>
											</div>
										</td> -->
										<!--  <td>
											<button class="btn btn-danger btn-sm" data-toggle="tooltip"
												data-placement="right"
												ng-click="deleteAppointmentMethod(appointment.id);"
												title="Delete ">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button>
										</td> -->
										<td align="center" >
										<button class="btn btn-info btn-sm" data-toggle="tooltip"
												data-placement="right"
												ng-click="gotoPatientViewPage(appointment.patient)"
												title="Patient info ">
										<i class="fa fa-user"></i></button>
										<!-- <button class="btn btn-danger btn-sm" data-toggle="tooltip"
												data-placement="right"
												ng-click="deleteAppointmentMethod(appointment.id);"
												title="Delete ">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button> -->
											
											<button class="btn btn-danger btn-sm" ng-click="deletealert(appointment.id)"
												 title="Delete">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button>
											<!-- <div id="ordine" class="modal fade" role="dialog">
												<div class="modal-dialog">

													Modal content
													<div class="modal-content ">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">x</button>
															<h4 class="modal-title">Please Confirm</h4>
														</div>
														<div class="modal-body" align="center">
															<img src="assets/Delete_Icon.png" 
																  align="center"> <br>
																  <br>
															
															<button type="button" class="btn btn-info"
																data-dismiss="modal" class="col-sm-6">Cancel
																</button>
															&nbsp;&nbsp;&nbsp;

															<button class="btn btn-danger"
																data-placement="right" data-dismiss="modal"
																ng-click="deleteAppointmentMethod(appointment.id);"
																>Delete!
															</button>
														</div>
													</div>
												</div>
											</div> -->
										</td> 
										
									</tr>
									<tr ng-if="appointmentsList.length == 0">
										<td colspan="12" align="center">
											<h3>
												<i class="fa fa-meh-o"></i> No records found!
											</h3>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="page-nation text-right">
							<ul class="pagination pagination-large">
								<li><a rel="next" ng-click="firstPage();">First</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="left"
									ng-click="previousPage();" title="prev"> <i
										aria-hidden="true"></i><<
								</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="right"
									ng-click="nextPage();" title="next"> <i aria-hidden="true"></i>>>
								</a></li>
								<li><a rel="next" ng-click="lastPage();">Last</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
