
<div class="content-wrapper"
	ng-init="getAllPackageMAstersList();getAllSubscriptionMastersList();">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Buy New Package</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Package </li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group">
							<a class="btn btn-primary"> <i class="fa fa-list"></i>
							New	Package
							</a>
						</div>
					</div>
					<div class="panel-body">

						<div class="panel-heading">
							</div>
							<div class="panel-body">
								<form class="col-sm-12" name="packagepricingform">

									<div class="form-group col-lg-6">
											<label><span
										ng-if="subscription == undefined || subscription =='' "
										style="color: red">*</span>SubScription Type</label> <select ng-model="subscription"
												class="form-control" name="registrationType"
												
												ng-options="subscription as subscription.subscriptionName  for subscription in subscriptionMasterLists"
												required>
												<option value="" class="active">Select SubScription Type</option>
											</select><span style="color: red" 
												ng-show="(registrationForm.registrationType.$touched && registrationForm.registrationType.$invalid)">
												<span
												ng-show="registrationForm.registrationType.$error.required">SubScription
													Type is required.</span>
											</span>
										</div>
									<div class="form-group col-lg-6">
										<label><span
										ng-if="packagePricing.packageNameMaster == undefined || packagePricing.packageNameMaster =='' "
										style="color: red">*</span>Package Type</label> <select class="form-control"
											name="package"
											ng-options="packageMaster as packageMaster.packageName  for packageMaster in  packageMastersLists"
											ng-model="packagePricing.packageNameMaster"
											ng-change="getPackagePriceMatserInfo(subscription.subscriptionName,packagePricing.packageNameMaster.packageName);"
											required class="form-control">
											<option value="">Select Package Name</option>
										</select><span style="color: red"
											ng-show="(packagepricingform.package.$touched && packagepricingform.package.$invalid)">
											<span ng-show="packagepricingform.package.$error.required">Package
												is required.</span>
										</span>
									</div>
									<div class="form-group col-lg-6">
										<label><span
										ng-if="packagePricing1.maxDataStorage == undefined || packagePricing1.maxDataStorage =='' "
										style="color: red">*</span>Data Storage(Gb)</label> <input type="text"
											ng-disabled="packagePricing1.maxDataStorage"
											class="form-control" name="minlimit" id="txt_username"
											ng-model="packagePricing1.maxDataStorage"
											aria-required="true" aria-invalid="true"
											ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
											required> <span style="color: red" ng-cloak
											ng-show="(packagepricingform.minlimit.$touched && packagepricingform.minlimit.$invalid)">
											<span ng-show="packagepricingform.minlimit.$error.required">Storage
												is required.</span>
										</span>
									</div>
									<div class="form-group col-lg-6">
										<label><span
										ng-if="packagePricing1.packagePricePerUsers == undefined || packagePricing1.packagePricePerUsers =='' "
										style="color: red">*</span>Price($)</label> <input type="text"
											ng-disabled="packagePricing1.packagePricePerUsers"
											class="form-control" name="packagepriceperunit"
											id="txt_username"
											ng-model="packagePricing1.packagePricePerUsers" required>
										<span style="color: red" ng-cloak
											ng-show="(packagepricingform.packagepriceperunit.$touched && packagepricingform.packagepriceperunit.$invalid)">
											<span
											ng-show="packagepricingform.packagepriceperunit.$error.required">Package
												Price Per Users is required.</span>
										</span>
									</div>
								</form>
								
							</div>
						</div>
						<!-- <div ng-if="message != undefined">
							<br>
							<p style="color: red">{{message}}</p>
						</div>
 -->						<br>
						<div class="reset-button">
							<button class="btn btn-success"
								>Proceed To Payment</button>
							<a class="btn btn-warning" ng-click="gotoback()">Cancel</a>

						</div>

					</div>
				</div>
			</div>


		</div>


	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

