       
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
        <div class="user-panel">
             <div class="image pull-left">
                  <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
             </div>
             <div class="info">
                  <h4>Welcome</h4>
                  <p>{{loggedUserFirstName}}</p>
             </div>
         </div>
         </li>
         <li class="treeview">
             <a href="#">
                <i class="fa fa-user-md"></i><span>Company Setup</span>
                <span class="pull-right-container">
                <i class=""></i>
                </span>
             </a>
             <ul class="treeview-menu">
                 <li><a href="#/app/companysetup/companymanagement/company_management"><span data-translate="Company Management"></span></a></li>
                 <li><a href="#/app/companysetup/sitemanagement/site_management"><span data-translate="Site Manangement"></span></a></li>
				 <li><a href="#/app/companysetup/departmentmanagement/add_department"><span data-translate="Dept Management"></span></a></li>
				 <li><a href="#/app/companysetup/usermanagement/add_usermanagement"><span data-translate="User Management"></span></a></li>
				 <li><a href="#/app/companysetup/subscription/pricing"><span data-translate="Subscription"></span></a></li>
              </ul>
         </li>
 
         <li>	
             <div class="dropdown">
                  <li><a href="#/app/dashboard/dashboard"> <i class="fa fa-tachometer" style="font-size:20px; color:#009688;"></i><span data-translate="Dashboard"></span> </a></li>
		 <li class="treeview">
             <a href="#">
                <i class="fa fa-user-md"></i><span>Masters</span>
                <span class="pull-right-container">
                <i class=""></i>
                </span>
             </a>
             <ul class="treeview-menu">
				 <li><a href="#/app/masters/statusmaster/Status_Master"><span data-translate="Status Master"></span></a></li>
				 <li><a href="#/app/masters/companynames/Company_Names"><span data-translate="Company Name Master"></span></a></li>
				 <li><a href="#/app/masters/companytypes/Client_TypesMaster"><span data-translate="Client Type Master"></span></a></li>
				 <li><a href="#/app/masters/locationmaster/Location_Master"><span data-translate="Location Master"></span></a></li>
				 <li><a href="#/app/masters/securityquestion/Security_Question"><span data-translate="Security Question"></span></a></li>
				 <li><a href="#/app/masters/subscriptionmaster/Subscription_Master"><span data-translate="Subscription Master"></span></a></li>
                   <li><a href="#/app/masters/role/RoleAcess"><span data-translate="Role"></span></a></li>
                  <li><a href="#/app/masters/role/RoleActionMstr"><span data-translate="Action"></span></a></li> 
                
                 <li><a href="#/app/masters/role/Actioncategory"><span data-translate="Action Category"></span></a></li>
                 
             </ul>
         </li>
		 <li class="treeview">
             <a href="#">
                <i class="fa fa-user-md"></i><span>Therapist</span>
                <span class="pull-right-container">
                <i class=""></i>
                </span>
             </a>
             <ul class="treeview-menu">
                 <li><a href="#/app/therapist/add_therapist"><span data-translate="Add Therapist"></span></a></li>
				 <li><a href="#/app/therapist/therapist_list"><span data-translate="Therapist List"></span></a></li>
             </ul>
         </li>
        
		   
                 <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i><span>Patient</span>
                                <span class="pull-right-container">
                                    
                                </span>
                            </a>
                            <ul class="treeview-menu">
                            <li><a href="#/app/patient/add_patient"><span data-translate="Add Patient"></span></a></li>
						    <li><a href="#/app/patient/patient_list"><span data-translate="Patient List"></span></a></li>
				
                            </ul>
                        </li>
				
				<li class="treeview">
                            <a href="#">
                                <i class="fa fa-list-alt"></i> <span>Schedule</span>
                                <span class="pull-right-container">
                                   
                                </span>
                            </a>
                            <ul class="treeview-menu">
                              <li><a href="#/app/schedule/add_schedule"><span data-translate="Add Schedule"></span></a></li>
				               <li><a href="#/app/schedule/schedule_list"><span data-translate="Schedule List"></span></a></li>
				  
                            </ul>
                        </li>
                        
                        
                        
               <li class="treeview">
                            <a href="#">
                                <i class="fa fa-list-alt"></i> <span>Holidays</span>
                                <span class="pull-right-container">
                                   
                                </span>
                            </a>
                            <ul class="treeview-menu">
				               <li><a href="#/app/holidays/add_holiday"><span data-translate="Holidays"></span></a></li>
				  
                            </ul>
                        </li>
				
				
				
				<li class="treeview">
                            <a href="#">
                                <i class="fa fa-check-square-o"></i><span>Appointment</span>
                                <span class="pull-right-container">
                                
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                   <li><a href="#/app/appointment/add_appointment"><i class="fa fa-caret-right"></i><span data-translate="Add Appointment"></span></a></li>
				                   <li><a href="#/app/appointment/appointment_list"><i class="fa fa-caret-right"></i><span data-translate="Appointment List"></span></a></li>
				
                            
                            </ul>
                        </li>
				<li class="treeview">
                            <a href="#">
                                <i class="fa fa-check-square-o"></i><span>Calendar</span>
                                <span class="pull-right-container">
                                
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                    <li><a href="#/app/calender/calender"><i class="fa fa-caret-right"></i><span data-translate="Calender"></span></a></li>
                            </ul>
                        </li>
				
				
				<li class="treeview">
                            <a href="#">
                                <i class="fa fa-check-square-o"></i><span>Change Design</span>
                                <span class="pull-right-container">
                                
                                </span>
                            </a>
                            <ul class="treeview-menu">
                            <li><a href="#/app/changedesign/boxed_layout"><i class="fa fa-caret-right"></i><span data-translate="Boxed Layout"></span></a></li>
			   <li><a href="#ui/layout_collapsed"><i class="fa fa-caret-right"></i><span data-translate="Collapsed Layout"></span></a></li>
	 	       <li><a href="#/ui/layout_fixed"><i class="fa fa-caret-right"></i><span data-translate="Color Palat"></span></a></li>
	
                            </ul>
                        </li>
				 				
				
				 		
				
				
				 
				
				
				

				  

   

