<div class="page">
    <div class="panel panel-default" ng-controller="StatusMasterController">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>User Profile</strong>
            <input style="margin-top: -7px;" value="ADD REGISTRATION" class="btn btn-info pull-right" type="button" ng-click="ststusMasterAdd();open('md');">
        </div>
        <div class="panel-body"  >  
            <!--<p id="xyz"></p>-->        
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        
                    </div>
            </div>
			<div class="modal-body">
		     <table align="center" width="100%">
			 <tr align="center">
			 <td colspan="3"><h3><p style="color: green"></p></h3><hr></td>
                         <td colspan="4"><h3><p style="color: green" "background color=green"></p></h3><hr></td>
		         </tr>
                         <tr>
				<td><label class="modal-body">First Name</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">City<label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control">
                      <option value="city">Select City</option>
                      
                       </select>
                       </td>
				</tr>
				<tr>
				<td><label class="modal-body">Last Name</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Phone</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				</tr>
				<tr>
				<td><label class="modal-body">E-mail</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Streer Name</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"value="" class="form-control"></td>
				</tr>
			    <tr>
				<td><label class="modal-body">Security Question</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control">
                      <option value="volvo">Select security Question</option>
                      
                       </select>
                       </td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Box No</label></td>
			
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				</tr>
				<tr>
				<td><label class="modal-body">Answer</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Building Name</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" class="form-control"></td>
				</tr>
				<tr>
				<td><label class="modal-body">Country</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control">
                      <option value="volvo">Select Country</option>
                      
                       </select>
                       </td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Room No</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"value="" class="form-control"></td>
				</tr>
				<tr>
				<td><label class="modal-body">State</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control">
                      <option value="volvo">Select State</option>
                      
                       </select>
                       </td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><label class="modal-body">Zip code</label></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"value="" class="form-control"></td>
				</tr>
				
				<tr>
			
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			
				</tr>
				
				
<td colspan="3" align="right"><button type="button" class="btn btn-info"  ng-click="ok()">SUBMIT</button></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td colspan="4" align="left"> <button type="button"  class="btn btn-warning"  ng-click="ok()">CANCEL</button></td></tr>
			 </div>
			</table>
</div>
            		
            			
			</div>
			</div>