<div class="content-wrapper"
	ng-init="getAllActiveTherapists();getAllRegistrations();getNewPatientsCount();totalPatientsRegistered();getTodayPatientsData();getActiveDoctorsChartDataPerPresentYear();getActiveUsersChartDataPerPresentYear();getTotalPatientsRegisteredChartDataPerPresentYear();getAllactiveAdmins();getAllInactiveAdmins();getAllactiveSiteAdmins();getAllInactiveSiteAdmins();getAllInactiveTherapists();inActivePatients();getAllAppointmentsCountByRole();">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<form action="#" method="get"
			class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..."> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<div class="header-icon">
			<i class="fa fa-tachometer"></i>
		</div>
		<div class="header-title">
			<h1>Dashboard</h1>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfActiveAdmins}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>Active Admin</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfInActiveAdmins}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>InActive Admin</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfActiveSiteAdmins}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>Active Site Admin</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfInActiveSiteAdmins}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>InActive Site Admin</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfActiveTherapists}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>Active Therapist</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
				 ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfInaciveTherapists}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>InActive Therapist</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if="loggedUserRole=='Super Admin'">
				<div class="panel panel-bd cardbox" >
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{numberOfRegisteredUsers}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>Active Users</h4>
							
						</div>
					</div>
				</div>
			</div> 
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"  ng-if="loggedUserRole=='Super Admin'||loggedUserRole=='Individual'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{totalPatientsRegistered}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>Total Patients</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if="loggedUserRole=='Therapist'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{totalPatientsRegistered}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>TotalPatients </h4>
							<h4>Engaged</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if=" loggedUserRole=='Super Admin' || loggedUserRole=='Individual' || loggedUserRole=='Therapist'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{inActivePatients}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-users fa-2x"></i>
							<h4>InActive Patients</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if=" loggedUserRole=='Super Admin' || loggedUserRole=='Individual' || loggedUserRole=='Therapist'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box">
							<h2>
								<span class="count-number">{{count}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-user-circle fa-2x"></i>
							<h4>Today Patients</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if=" loggedUserRole=='Super Admin' || loggedUserRole=='Individual' ">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box" >
							<h2>
								<span class="count-number">{{numberOfAppointments}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-user-circle fa-2x"></i>
							<h4> Total Appointments</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ng-if=" loggedUserRole=='Therapist'">
				<div class="panel panel-bd cardbox">
					<div class="panel-body">
						<div class="statistic-box" >
							<h2>
								<span class="count-number">{{numberOfAppointments}}</span>
							</h2>
						</div>
						<div class="items pull-left">
							<i class="fa fa-user-circle fa-2x"></i>
							<h4>Today Appointments</h4>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Charts -->
	<div class="row">
				
				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=" loggedUserRole!='Therapist'">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Active Doctors</h4>
								<h5>For Present Year</h5>
							</div>
						</div>
						<canvas id="line" class="chart chart-line" chart-data="data"
							chart-labels="labels" chart-series="series"
							chart-options="options" chart-dataset-override="datasetOverride"
							chart-click="onClick" style="display: block;">
                        </canvas>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=" loggedUserRole!='Therapist'">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Active Users</h4>
								<h5>For Present Year</h5>
							</div>
						</div>
						<canvas id="line" class="chart chart-line" chart-data="data5"
							chart-labels="labels5" chart-series="series5"
							chart-options="options" chart-dataset-override="datasetOverride"
							chart-click="onClick" style="display: block;">
                        </canvas>
					</div>
				</div>-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=" loggedUserRole=='Individual' ">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Total Patients Registered-Year</h4>
							</div>
						</div>
						<canvas id="line" class="chart chart-line" chart-data="data6"
							chart-labels="labels6" chart-series="series6"
							chart-options="options" chart-dataset-override="datasetOverride"
							chart-click="onClick" style="display: block;">
                        </canvas>
					</div>
				</div> 
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 "  ng-if=" loggedUserRole=='Therapist' || loggedUserRole=='Individual'  ">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Today Patients-Week</h4>
							</div>
						</div>
						<canvas id="bar" class="chart chart-bar" chart-data="data3"
							chart-labels="labels3" chart-series="series3">
                            </canvas>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=" loggedUserRole=='Therapist'">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Patients Engaged-Year</h4>
							</div>
						</div>
						<canvas id="line" class="chart chart-line" chart-data="data6"
							chart-labels="labels6" chart-series="series6"
							chart-options="options" chart-dataset-override="datasetOverride"
							chart-click="onClick" style="display: block;">
                        </canvas>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Data Used</h4>
							</div>
						</div>
						<div id="pie" dx-pie-chart="chartOptions"></div>
					</div>
				</div>

				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=" loggedUserRole!='Therapist'">
					<div class="panel panel-bd lobidrag">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Today Patient Information</h4>
								<h5>for present week</h5>
							</div>
						</div>
						<canvas id="bar" class="chart chart-bar" chart-data="data3"
							chart-labels="labels3" chart-series="series3">
                            </canvas>
					</div>
				</div> -->
				
			</div> 
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->

</div>
<!-- /.content-wrapper -->

