<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Change Password</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>

				<li class="active">Change Password</li>
			</ol>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group">
							<a class="btn btn-primary" ng-click="gotoChangepassword();">
								<i class="fa fa-list"></i>&nbsp;Change Password
							</a>


						</div>
					</div>
					<div class="panel-body">
						<div class="page-forgot">
							<div class="">
								<div class="form-container">
									<form class="form-horizontal col-sm-6"
										name="forgotPasswordForm">

										<div class="form-group">
											<label class="control-label" for="password">Old
												Password</label> <input type="password"
												title="Please enter your password"
												ng-model="changepasswordDto.oldPassword"
												placeholder="Enter Old Password" name="oldpassword"
												id="password" class="form-control" aria-required="true"
												aria-invalid="true"
												ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
												required> <span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.oldpassword.$touched && forgotPasswordForm.oldpassword.$invalid)">
												<span
												ng-show="forgotPasswordForm.oldpassword.$error.required">Old
													Password is required. 
										</div>

										<div class="form-group">
											<label class="control-label" for="password">New
												Password</label> <input type="password"
												title="Please enter your password"
												ng-model="changepasswordDto.newPassword"
												placeholder="Enter New Password" name="newpassword"
												id="password" class="form-control" aria-required="true"
												aria-invalid="true"
												ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
												required> <span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.newpassword.$touched && forgotPasswordForm.newpassword.$invalid)">
												<span
												ng-show="forgotPasswordForm.newpassword.$error.required">New
													Password is required. 
										</div>

										<div class="form-group">
											<label class="control-label" for="password">Confirm
												Password</label> <input type="password"
												title="Please enter your password"
												ng-model="changepasswordDto.confirmPassword"
												placeholder="Enter Confirm Password" name="confirmpassword"
												id="password" class="form-control" aria-required="true"
												aria-invalid="true"
												ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
												required> <span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.confirmpassword.$touched && forgotPasswordForm.confirmpassword.$invalid)">
												<span
												ng-show="forgotPasswordForm.confirmpassword.$error.required">Confirm
													Password is required. 
										</div>
										<div class="row" align="center">
											<span ng-if="message != undefined" style="color: red">{{message}}<br>
											</span>
										</div>
										<div class="row">
											<a href="" class="btn btn-primary"
												ng-click="doChangePassword();"
												ng-disabled="forgotPasswordForm.$invalid">Submit</a> <a
												href="" class="btn btn-warning">Cancel</a>
										</div>
									</form>

								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->










