<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-wallet"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Developmental Milestones</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li><a>Child Observation</a></li>
				<li class="active">Child Observation</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab"
						target="self">One Month</a></li>
					<li><a href="#tab2" data-toggle="tab" target="self">Three
							Month </a></li>
					<li><a href="#tab3" data-toggle="tab" target="self">4 to 7
							months </a></li>
					<li><a href="#tab4" data-toggle="tab" target="self">8 to
							12 months </a></li>
					<li><a href="#tab5" data-toggle="tab" target="self">13 to
							24 months</a></li>
					<li><a href="#tab6" data-toggle="tab" target="self">25 to
							36 months</a></li>
				</ul>
				<!-- Tab panels -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<p align="center">
									<label>Video</label>
								</p>
								<video width="100%" height="300" controls="controls">
									<source
										src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
										type="video/ogg">
								</video>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your baby's doctor if your
													1-month-old:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Feeds slowly or doesn't suck well</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one1" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't seem to focus her eyes or
											watch things moving nearby</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one2" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't react to bright lights</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one3" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems especially stiff or floppy</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one4" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to loud sounds</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one5" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab2">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<p align="center">
									<label>Video</label>
								</p>
								<video width="100%" height="300" controls="controls">
									<source
										src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
										type="video/ogg">
								</video>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your
													3-month-old:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Can't support his head well</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two1" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't grasp objects</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two2" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't focus on moving objects</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two3" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't smile</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two4" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to loud sounds</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two5" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Ignores new faces</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two6" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems upset by unfamiliar people or
											surroundings</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two7" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two7" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab3">
						<div class="panel-body">
						<div class="col-sm-12 border">
									<p align="center">
										<label>Video</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your child's doctor if your baby:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Seems very stiff or floppy</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't hold her head steady</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't sit on her own</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to noises or smiles</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Isn't affectionate with those
											closest to her</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't reach for objects</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab4">
						<div class="panel-body">
						<div class="col-sm-12 border">
									<p align="center">
										<label>Video</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your baby:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Doesn't crawl</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems to drag one side while he's
											crawling for a month or more</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't stand with support</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't try to find objects you've
											hidden in front of him</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't say any words</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't use gestures, such as
											shaking his head "no" and pointing</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="eight6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="eight6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab5">
						<div class="panel-body">
						<div class="col-sm-12 border">
									<p align="center">
										<label>Video</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your
													toddler:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Can't walk by 18 months</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen1" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't understand the use of
											everyday objects</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen2" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't speak at least six words by
											18 months or two-word sentences by 24 months</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen3" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't imitate words and actions</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen4" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't follow simple instructions</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen5" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Loses skills he previously had</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="thirteen6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="thirteen6" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab6">
						<div class="panel-body">
						<div class="col-sm-12 border">
									<p align="center">
										<label>Video</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your child's doctor if your
													preschooler still:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Struggles with separation anxiety</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't interact with people
											outside her family</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't play with other children</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Avoids eye contact</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't throw a ball or jump</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't climb stairs with alternating
											feet</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Has trouble scribbling</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive7" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive7" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't use more than three words
											in a sentence</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive8" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive8" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Isn't able to complete a sentence</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive9" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive9" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Is often difficult for strangers to
											understand when she talks</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive10" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive10" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't play make-believe</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive11" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive11" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Excessively balks at basic
											self-care, like getting dressed or going to sleep</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive12" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive12" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Loses skills she previously had</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="twofive13" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="twofive13" value="0" ng-checked="true"
												ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>