<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-wallet"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Developmental Milestones</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li><a>Parent Role</a></li>
				<li class="active">Parent Role</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab"
						target="self">1<sup>st</sup> Month
					</a></li>
					<li><a href="#tab2" data-toggle="tab" target="self">3<sup>rd</sup>
							Month
					</a></li>
					<li><a href="#tab3" data-toggle="tab" target="self">4 to 7
							months </a></li>
					<li><a href="#tab4" data-toggle="tab" target="self">8 to
							12 months </a></li>
					<li><a href="#tab5" data-toggle="tab" target="self">13 to
							24 months</a></li>
					<li><a href="#tab6" data-toggle="tab" target="self">25 to
							36 months</a></li>
				</ul>
				<!-- Tab panels -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6">
									<p align="center">
										<br> <label>Video - 1st Month</label></u>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>
									<p align="center">
										<label><br>Tip For Parent - 1st Month</label>
									</p>
									<p align="justify">The first days with your 1-month-old can
										be a blur of feeding,changing diapers,settling her to
										sleep,and responding to her wails.But within a few
										weeks,she'll start to take more notice of your voice,face, and
										touch.Your baby can't focus farther than 8 to 12 inches away -
										just the right distance for her to gaze at your face.
										Black-and-white patterns also draw her attention. Her hearing
										is fully developed and she might turn toward familiar sounds,
										such as your voice.She can lift her head briefly and turn it
										to the side when she's on her stomach, but when she's upright
										her head and neck still need support. Although her arms move
										jerkily, she can get her hands close to her mouth.</p>

								</div>
							</div>
							<!-- <div class="col-sm-12">
								<uib-accordion close-others="oneAtATime">
								<div uib-accordion-group class="panel-default"
									heading="Tip's For Parent - 1st Month">
									<hr>
									<label align="justify">The first days with your
										1-month-old can be a blur of feeding,changing diapers,settling
										her to sleep,and responding to her wails.But within a few
										weeks,she'll start to take more notice of your voice,face, and
										touch.Your baby can't focus farther than 8 to 12 inches away -
										just the right distance for her to gaze at your face.
										Black-and-white patterns also draw her attention. Her hearing
										is fully developed and she might turn toward familiar sounds,
										such as your voice.She can lift her head briefly and turn it
										to the side when she's on her stomach, but when she's upright
										her head and neck still need support. Although her arms move
										jerkily, she can get her hands close to her mouth.</label>
									<hr>
								</div>
								</uib-accordion>
							</div> -->
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Enjoy getting to know your baby:
											Cuddle her, talk to her, and learn how she signals when she's
											sleepy or hungry. Be attentive and responsive. You can't
											spoil a baby!</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one1" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Give her plenty of tummy time from
											the start when she's awake so she can strengthen her muscles.
											Encourage her to look at and reach for toys.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one2" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Make sure she gets plenty of time
											outside. Go for walks with her and take her to the park or
											playground. She'll enjoy the outdoors, relaxing with you, and
											being around other children.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one3" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Get close and make eye contact with
											your baby when you talk, sing, and read to her.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one4" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Play simple games when she's alert
											and in the mood, such as peekabooor mimicking her sounds.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one5" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Learn the signs that she's had
											enough play and needs some down time.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="one6" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="one6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your baby's doctor if your
													1-month-old:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Feeds slowly or doesn't suck well</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't seem to focus her eyes or
											watch things moving nearby</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't react to bright lights</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems especially stiff or floppy</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to loud sounds</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
					<div class="tab-pane fade" id="tab2">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6 ">
									<p align="center">
										<br> <label>Video - 3rd Month</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>

									<p align="center">
										<label><br>Tip For Parent - 3rd Month</label>
									</p>
									<hr>
									<p align="justify">By now, you're basking in the warmth of
										your baby's delighted smiles! Your 3-month old actively enjoys
										playtime now, amusing you both when he imitates your facial
										expressions. He's starting to babble and mimic the sounds you
										make.
									<hr>
									You no longer need to support his head. When he's on his
									stomach, he can lift his head and chest, and even do the
									mini-pushups that set the stage for rolling over. He can open
									and close his hands, shake toys, swat at dangling objects,
									bring his hands to his mouth, and push down with his legs if
									you hold him in a standing position.
									<hr>
									His hand-eye coordination is improving. You'll notice him
									closely strackingobjects that interest him and focusing
									intently on faces. He's able to recognize you from across the
									room!
									</p>
									<hr>
								</div>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Don't worry about spoiling your
											baby: Responding to him promptly helps him feel secure and
											loved. You can help him learn to soothe himself by guiding
											his thumb to his mouth or offering him a pacifier.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two1" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Continue to make tummy time part of
											his daily routine so he can practice his new skills and
											strengthen his muscles. When he's on his tummy, give him toys
											and safe objects he can reach for, hold, and explore.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two2" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Give your baby lots of loving
											attention. Talk to him throughout the day, describing what
											you're doing and naming familiar objects. Read books
											together. Share cuddles, play games, and encourage his
											efforts to roll over, grab toys, and "talk" with you.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="two3" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="two3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your
													3-month-old:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Can't support his head well</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't grasp objects</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't focus on moving objects</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't smile</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to loud sounds</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Ignores new faces</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems upset by unfamiliar people or
											surroundings</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
					<div class="tab-pane fade" id="tab3">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6">
									<p align="center">
										<br> <label>Video - 4 to 7 months</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>

									<p align="center">
										<label><br>Tip For Parent - 4 to 7 months</label>
									</p>
									<hr>
									<p align="justify">Your baby is fully engaged with the
										world now: She smiles,laughs, and has babbling "conversations"
										with you. And she's on the move - by 7 monthsshe can probably
										roll to her tummy and back again, sit without your help, and
										support her weight with her legs well enough to bounce when
										you hold her. She uses a raking grasp to pull objects closer
										and can hold toys and move them from one hand to another.
									<hr>
									Your baby is more sensitive to your tone of voice and may heed
									your warning when you tell her "no." She also knows her name
									now and turns to look at you when you call her.
									<hr>
									Peekaboo is a favorite game and she enjoys finding partially
									hidden objects. She views the world in full color now and can
									see farther. If you move a toy in front of her, she'll follow
									it closely with her eyes. Watching herself in a mirror is sure
									to delight her.
									</p>
									<hr>
								</div>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Your baby thrives on the
											interactions she has with you, so integrate playinto
											everything you do with her. Shower her with smiles and
											cuddles, and reply when she babbles to encourage her
											communication skills.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Read together every day, naming the
											objects you see in books and around you.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Give her lots of opportunities to
											strengthen her new physical skills by helping her sit and
											positioning her to play on both her stomach and back.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Before she can crawl, be sure to
											childproof your home and keep her environment safe for
											exploring.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Provide a variety of
											age-appropriate toys and household objects (like wooden
											spoons or cartons) to explore.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Work on establishing a routine for
											sleeping, feeding, and playtime.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">By 6 months, she may be ready to
											start solid food.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="three7" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="three7" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your child's doctor if your baby:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Seems very stiff or floppy</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't hold her head steady</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't sit on her own</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't respond to noises or smiles</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Isn't affectionate with those
											closest to her</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't reach for objects</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
					<div class="tab-pane fade" id="tab4">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6">
									<p align="center">
										<br> <label>Video - 8 to 12 months</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>

									<p align="center">
										<label><br>Tip For Parent - 8 to 12 months</label>
									</p>
									<hr>
									<p align="justify">Look at your baby go! He's become an
										eager explorer, and it might surprise you how quickly he can
										get around when he crawls or scoots. He can sit on his own now
										and grabs anything he can to pull himself up to standing and
										"cruise." He might even take some solo steps before his first
										birthday.
									<hr>
									His babbling sounds more like real conversation, and you'll
									hear his first words - often "mama" or "dada." Soon he'll talk
									in simple phrases, but in the meantime he uses gestures to
									indicate what he wants - or doesn't want! - and pays close
									attention to your words.
									<hr>
									His hands are increasingly nimble: He amuses himself putting
									things in containers and taking them out again. He can use his
									thumb and finger in a pincer grasp to eat finger food. Your
									baby loves to be just like you by combing his own hair,
									drinking from a cup, and pretending to talk on the phone.
									<hr>
									While he may seem outgoing, he's probably reserved around
									strangers. And when you leave him, he may become distraught -
									separation anxiety is normal at this age.

									</p>
									<hr>
								</div>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Keep talking to your baby: This is a
											critical time for his language development. Describe your
											routine, what you're doing now and what you're going to do
											next, and what you see. Describing how you think your baby is
											feeling helps him learn emotions. Keep reading together and
											play peekaboo, hide-and-seek, and turn-taking games.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">As he gets more active, it's
											important to provide a safe space to explore. He may not be
											walking quite yet, but you can help him get ready by holding
											him in a way that puts weight on his legs or by propping him
											up against the sofa.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Pay attention to what he enjoys,
											and give him the freedom to use all his senses to play and
											discover. Offer him crayons and paper, stacking blocks, empty
											food containers, and pots and pans to play with.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Praise and reward good behavior. If
											he gets into mischief, a brief "no" and redirection is
											usually enough. Although he's too young to understand and
											obey rules, you can start showing him which behaviors aren't
											allowed and helping him find more appropriate activities. Be
											respectful of his separation anxiety: Build trust by giving
											him time to get used to new caregivers and always saying
											goodbye before you leave.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="four4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="four4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your baby:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Doesn't crawl</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Seems to drag one side while he's
											crawling for a month or more</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't stand with support</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't try to find objects you've
											hidden in front of him</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't say any words</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't use gestures, such as
											shaking his head "no" and pointing</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
					<div class="tab-pane fade" id="tab5">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6">
									<p align="center">
										<br> <label>Video - 13 to 24 months</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>

									<p align="center">
										<label><br>Tip For Parent - 13 to 24 months</label>
									</p>
									<hr>
									<p align="justify">In his second year, your toddler will
										grow confident on his feet: Those first wobbly steps set him
										on course to walk by himself, go up and down stairs, stand on
										his tiptoes, kick a ball, and maybe even run by the time he
										turns 2.
									<hr>
									He'll also become quite the climber, scrambling onto sofas and
									chairs.
									<hr>
									His language skills are growing, though he understands more
									than he can express. By 18 months, he can say at least several
									single words, and by 24 months he uses words in short phrases
									and sentences.
									<hr>
									He quickly picks up new words from the books you read aloud to
									him and from hearing everyday conversations. He can follow
									two-step directions, such as "Pick up your book and bring it to
									me."
									<hr>
									Your toddler is starting to identify shapes and colors. He
									scribbles with a crayon, builds towers of four or more blocks,
									throws a ball, and enjoys filling and emptying containers. You
									might notice the first signs that indicate whether he'll be
									left- or right-handed.
									<hr>
									Your toddler wants to do everything himself: Get his clothes on
									and off, feed himself with a cup and utensils, and wash his
									hands. "I do it!" may even be your toddler's first phrase.
									<hr>
									He might start to show interest in learning how to use a
									toilet. He'll have fun imitating you by talking on a play
									phone, "feeding" a doll, or pretending to drive a car.
									<hr>
									Separation anxiety peaks midyear, and by 24 months he'll be
									more comfortable playing alongside other children and spending
									time with other caregivers. Meanwhile, he'll grow increasingly
									independent - and possibly defiant.

									</p>
									<hr>
								</div>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Foster his verbal skills by putting
											feelings into words, posing questions, talking about the
											books you read together, asking his opinion, and answering
											his questions about the world around him. Start teaching him
											letters and numbers.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Be careful not to scold him for
											using words incorrectly - just correctly rephrase what he
											said. When he points to something he wants, prompt him to ask
											for it instead. Practice identifying the parts of his body
											and naming familiar objects.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Encourage pretend play with dolls
											and play food. Ask him to help sort toys by putting them in
											similar categories, such as red toys or soft toys. Let him
											practice feeding himself with a cup and utensils.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Make sure he gets plenty of time
											outside. Take him the park, playground, or zoo to walk, run,
											and freely explore.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Continue to reinforce good behavior
											with praise and attention. Set simple and clear limits and
											follow through with consequences calmly and consistently.
											Give your toddler this or that options and allow him to make
											choices. Be patient and positive, and remember that he's only
											just beginning to learn how to control and express himself.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">As he gains new skills, take a
											fresh look around your home and adjust your childproofing
											strategy so he can explore freely and safely.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="five6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="five6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>

									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													his own pace, but talk to your child's doctor if your
													toddler:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Can't walk by 18 months</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't understand the use of
											everyday objects</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't speak at least six words by
											18 months or two-word sentences by 24 months</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't imitate words and actions</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't follow simple instructions</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Loses skills he previously had</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
					<div class="tab-pane fade" id="tab6">
						<div class="panel-body">
							<div class="col-sm-12 border">
								<div class="col-sm-6">
									<p align="center">
										<br> <label>Video - 25 to 36 months</label>
									</p>
									<video width="100%" height="300" controls="controls">
										<source
											src="/views/parent/Autism - causes, symptoms, diagnosis, treatment, pathology.mp4"
											type="video/ogg">
									</video>
								</div>
								<div id="ecran" class="col-sm-6 vl"
									style='overflow: auto; width: 50%; height: 372px;'>

									<p align="center">
										<label><br>Tip For Parent - 25 to 36 months</label>
									</p>
									<hr>
									<p align="justify">Your preschooler's imagination is taking
										off: Playing make-believe is a hallmark of this age, along
										with fears about imaginary monsters and more ordinary things
										such as the dark or the vacuum cleaner. She might have a hard
										time sorting out fantasy and reality.
									<hr>
									Her speech is becoming clear enough that strangers can usually
									understand her. She can use some pronouns properly and follow
									multi-step instructions. Her vocabulary is increasing
									dramatically: She'll be using hundreds of words by the time
									she's 3.
									<hr>
									She can walk up and down stairs, jump, and pedal a tricycle.
									Her manual dexterity is improving too: Your preschooler is
									figuring out how to open doors and containers and can
									manipulate moving parts on toys. She can also draw a circle and
									complete simple puzzles.
									<hr>
									You'll see her start to develop friendships, showing empathy
									and affection for her playmates - and even her dolls! She's
									getting the hang of taking turns and sharing, but may struggle
									with tantrums when her emotions get the best of her.
									</p>
									<hr>
								</div>
							</div>
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<td colspan="2"><label>Parent Role:</label></td>
									</thead>
									<tr>
										<td class="col-sm-8">Provide your child with lots of
											opportunities to play with kids her own age. Give her a
											chance to resolve disputes with her friends, but be ready to
											step in and facilitate sharing or taking turns. She'll need
											help figuring out how to solve problems and how to handle her
											emotions.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="six1" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="six1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Play learning games: Count stairs
											together, ask her to find matching toys, and name body parts.
											Pretend play may help her sort through emotions, but let her
											direct the play. Make sure she gets plenty of time outside to
											run, hop, pedal, and freely explore.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="six2" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="six2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Set simple and clear limits and
											follow through with consequences calmly and consistently. Be
											sure to praise her when she behaves well.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="six3" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="six3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Stay on top of her evolving skills
											and childproof your home accordingly.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="six4" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="six4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">She might be ready to move from her
											crib to a bed near her third birthday. Watch for signs that
											your preschooler is ready for toilet training.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="six5" value="1" ng-checked="false"
												ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="six5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>
										</td>
									</tr>
								</table>

							</div>
							<!-- <div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Child Observation:</label></td>
										</tr>
										<tr>
											<td colspan="2"><label>Each child develops at
													her own pace, but talk to your child's doctor if your
													preschooler still:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Struggles with separation anxiety</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't interact with people outside her family</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't play with other children</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Avoids eye contact</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't throw a ball or jump</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Can't climb stairs with alternating feet</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Has trouble scribbling</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't use more than three words in a sentence</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Isn't able to complete a sentence</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Is often difficult for strangers to understand when she talks</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Doesn't play make-believe</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Excessively balks at basic self-care, like getting dressed or going to sleep</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td class="col-sm-10">Loses skills she previously had</td>
										<td class="col-sm-4"><select class="form-control">
												<option>Yes</option>
												<option>No</option>
										</select></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	function ScrollDiv() {

		if (document.getElementById('ecran').scrollTop < (document
				.getElementById('ecran').scrollHeight - document
				.getElementById('ecran').offsetHeight)) {
			-1
			document.getElementById('ecran').scrollTop = document
					.getElementById('ecran').scrollTop + 1
		} else {
			document.getElementById('ecran').scrollTop = 0;
		}
	}
	setInterval(ScrollDiv, 50)
</script>