<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-wallet"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Screening Test</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a href="#/main/dashboard"><i class="pe-7s-home"></i> Home</a></li>
				<li><a href="#">Screening Test</a></li>
				<li class="active">Screening Test</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab"
						target="self">Social Interaction</a></li>
					<li><a href="#tab2" data-toggle="tab" target="self">Impairments</a></li>
					<li><a href="#tab3" data-toggle="tab" target="self">Behaviour</a></li>
				</ul>
				<!-- Tab panels -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<div class="panel-body">
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Social interaction:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Seems very stiff or floppy</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Don't return big smiles.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status1" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status1" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Avoid the company of their peers.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status2" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status2" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">They don't imitate the actions of
											other children or approach them for play.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status3" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status3" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Don't draw your attention to show
											you an accomplishment (a picture they've drawn)</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status4" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status4" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Do not pointing out desired object
											or bringing you something.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status5" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status5" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Don't greet others or wave hello
											and goodbye.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status6" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status6" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Don't understand the feelings of
											others.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status7" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status7" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab2">
						<div class="panel-body">
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Impairments in
													communication:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Do not seem to respond to spoken
											words or sounds</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status01" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status01" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Pointing, other gesture or no
											single words by 16 months.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status02" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status02" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Cannot initiate a talk other person</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status03" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status03" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Don't know what to say next,</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status04" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status04" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Repeat words / phrases what they've
											heard (echolalia)</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status05" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status05" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Repeat or words or phrases (TV
											commercials, songs) and engage in these verbal behaviors for
											minutes to hours.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status06" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status06" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Inability to pretend/ unable to
											imitate others</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status07" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status07" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Play with toys in a scripted way
											but have difficulty learning or trying different ways to play</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status08" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status08" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>

									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab3">
						<div class="panel-body">
							<div class="col-sm-12 class= table-responsive" align="justify">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td colspan="2"><label>Restricted repetitive and
													stereotyped patterns of behaviour, interests and
													activities:</label></td>
										</tr>
									</thead>
									<tr>
										<td class="col-sm-10">Child may fixate on a particular
											toy</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status11" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status11" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Watch the same video or TV show so
											many times.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status22" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status22" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Insist on sticking to the same
											routine or ritual, such as lining up cars in the same order</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status33" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status33" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Changing the order of that could
											spark a tantrum.</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status44" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status44" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">Engage in purposeless movements
											Hand flapping, clapping, rocking, twirling</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status55" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status55" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">toe walking</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status66" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status66" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">tend to focus on the eyes of a doll
											or wheels of a car, or moving or shiny objects, such as
											spinning wheels</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status77" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status77" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td class="col-sm-10">They may become absorbed with
											sniffing or smelling an object</td>
										<td class="col-sm-4"><label class="radio-inline">
												<input type="radio" name="status88" value="1"
												ng-checked="false" ng-value="true">Yes
										</label> <label class="radio-inline"> <input type="radio"
												name="status88" value="0" ng-checked="true" ng-value="false">No
										</label></td>
									</tr>
									<tr>
										<td colspan="2">
											<div align="center">
												<button class="btn btn-primary" ng-click="">Save</button>
												<button class="btn btn-danger" ng-click="">Cancel</button>
											</div>

										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>