<!-- 
<div class="content-wrapper" ng-init="getCountrysBasedOnIsdCode();">
	Content Header (Page header)
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Site</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a href="index-2.html"><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Site</li>
			</ol>
		</div>
	</section>
	Main content
	<section class="content">
		<div class="row">
			Form controls
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="gotoList();">
							<a class="btn btn-primary"> <i class="fa fa-list"></i> Site
								List
							</a>
						</div>
					</div>
					<div class="panel-body">

						<form class="col-sm-12" name="siteForm">



							<div class="col-sm-6 form-group">
								<label>Site Name</label> <input type="text" value=""
									class="form-control" name="siteName"
									placeholder="Enter Site  Name" ng-model="site.siteName"
									aria-required="true" aria-invalid="true"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									required> <span style="color: red" ng-cloak
									ng-show="(siteForm.siteName.$touched && siteForm.siteName.$invalid)">
									<span ng-show="siteForm.siteName.$error.required">Site
										Name is required.</span>
							</div>




							<div class="form-group col-lg-6">
								<label>Country</label> <select ng-model="site.country"
									class="form-control" name="country" aria-required="true"
									aria-invalid="true"
									ng-options="country as country.name  for country in countriesList"
									ng-change="getAllStatesByCountryId(site.country.id);"
									required>
									<option value="" class="active">Select Country</option>
								</select><span style="color: red" ng-cloak
									ng-show="(siteForm.country.$touched && siteForm.country.$invalid)">
									<span ng-show="siteForm.country.$error.required">Country
										is required.</span>
							</div>

							
							<div class="form-group col-lg-6">
								<label>State</label> <select ng-model="site.state"
									class="form-control" name="state" aria-required="true"
									aria-invalid="true"
									ng-options="state as state.name for state in statesList"
									ng-change="getAllCitiesByStateId(site.state.id);"
									required>
									<option value="" class="active">Select State</option>
								</select><span style="color: red" ng-cloak
									ng-show="(siteForm.state.$touched && siteForm.state.$invalid)">
									<span ng-show="siteForm.state.$error.required">State is
										required.</span>
							</div>

							<div class="form-group col-lg-6">
								<label>City</label> <select ng-model="site.city"
									class="form-control" name="city" aria-required="true"
									aria-invalid="true"
									ng-options="city as city.name  for city in citiesList" required>
									<option value="" class="active">Select City</option>
								</select><span style="color: red" ng-cloak
									ng-show="(siteForm.city.$touched && siteForm.city.$invalid)">
									<span ng-show="siteForm.city.$error.required">City is
										required.</span>
							</div>




							<div class="col-sm-6 form-group">
								<label>Address</label>
								<textarea type="text" class="form-control" name="address"
									ng-model="site.address1" placeholder="Enter Address"
									aria-required="true" aria-invalid="true"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									required></textarea>
								<span style="color: red" ng-cloak
									ng-show="(siteForm.address.$touched &&siteForm.address.$invalid)">
									<span ng-show="siteForm.address.$error.required">Address
										is required.</span>
							</div>

							

							<div class="col-sm-6 form-group">
								<label>Zipcode</label> <input type="text" class="form-control"
									name="zip" ng-model="site.zipcode" allow-only-numbers maxlength="5"
									placeholder="Enter zipcode" aria-required="true"
									aria-invalid="true"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									required>
								</textarea>
								<span style="color: red" ng-cloak
									ng-show="(siteForm.zip.$touched && siteForm.zip.$invalid)">
									<span ng-show="siteForm.zip.$error.required">Zip Code is
										required.</span>
							</div>

							

							<div class="col-sm-6 form-group">
								<label>Status</label><br> <label class="radio-inline"><input
									type="radio" ng-model="site.status" name="status"
									ng-value="true" ng-checked="!site.status">Active</label> <label
									class="radio-inline"><input type="radio"
									ng-model="site.status" name="status" ng-value="false">InActive</label>
							</div>

							<div class="reset-button">
								<button class="btn btn-success" ng-click="addSite(site)" ng-show="hasFeature('Site Management').canAdd==true"
									ng-disabled="siteForm.$invalid">Save</button>
								<a class="btn btn-warning" ng-click="gotoback()">Cancel</a>

							</div>

						</form>
					</div>
				</div>
			</div>


		</div>


	</section>
</div>
/.content-wrapper
 -->
<div class="content-wrapper" ng-init="getCountrysBasedOnIsdCode();">
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Site</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Site Management</li>
			</ol>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="gotoList();">
							<a class="btn btn-primary"> <i class="fa fa-list"></i> Site
								List
							</a>
						</div>
					</div>
					<div class="panel-body">

						<form class="col-sm-12" name="siteForm">
							<div class="col-sm-6 form-group">
								<label>Site Name</label> <input type="text" value=""
									class="form-control" name="siteName"
									placeholder="Enter Site  Name" ng-model="site.siteName"
									aria-required="true" aria-invalid="true"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									required> <span style="color: red" ng-cloak
									ng-show="(siteForm.siteName.$touched && siteForm.siteName.$invalid)">
									<span ng-show="siteForm.siteName.$error.required">Site
										Name is required.</span>
							</div>
							<div class="col-sm-6 form-group">
								<label>Search</label> <input id="autocomplete"
									placeholder="Enter your address" class="form-control"
									onFocus="geolocate()" type="text"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Street address</label> <input class="field form-control"
									ng-model="site.address1" id="street_number" disabled="true"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Street address2</label> <input class="field form-control"
									ng-model="site.address1" id="route" disabled="true"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>City</label> <input class="field form-control"
									ng-model="site.city" id="locality" disabled="true"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>State</label> <input class="field form-control"
									ng-model="site.state" id="administrative_area_level_1"
									disabled="true"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>Country</label> <input class="field form-control"
									ng-model="site.country" id="country" disabled="true"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Zip code</label> <input class="field form-control"
									ng-model="site.zipcode" id="postal_code" disabled="true"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Status</label><br> <label class="radio-inline"><input
									type="radio" ng-model="site.status" name="status"
									ng-value="true" ng-checked="!site.status">Active</label> <label
									class="radio-inline"><input type="radio"
									ng-model="site.status" name="status" ng-value="false">InActive</label>
							</div>

							<div class="reset-button">
								<button class="btn btn-success" ng-click="addSite(site)"
									ng-show="hasFeature('Site Management').canAdd==true"
									ng-disabled="siteForm.$invalid">Save</button>
								<a class="btn btn-warning" ng-click="gotoback()">Cancel</a>

							</div>
							<script>
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
							<script
								src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFHF5OFfYFzoXznrZfQQU8aGOClVeXcQ&libraries=places&callback=initAutocomplete"
								async defer></script>
						</form>
					</div>
				</div>
			</div>


		</div>


	</section>
</div>