<div class="content-wrapper"
	ng-init="getAllSchedulesByDoctorUsernamePage();">
	<!-- schedules start -->
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>My Availability</h1>
			<small></small>

		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<ol class="breadcrumb hidden-xs">
						<li><a><i class="pe-7s-home"></i>
								Home</a></li>
						<li class="active">My Availability</li>
					</ol>
					<div class="panel-body">
						<form name="addscheduleform">
							<table align="center">
							<!-- <tr>

										<td>
											<mdp-date-picker mdp-placeholder="From Date"
												ng-model="scheduleObj.fromTime"></mdp-date-picker>
										</td>

										<td>
											<mdp-time-picker mdp-placeholder="From Time"
												ng-model="scheduleObj.fromTime"></mdp-time-picker>
										</td>
										
									<tr>
										<td>
											<mdp-date-picker mdp-placeholder="To Date"
												ng-model="scheduleObj.toTime"></mdp-date-picker>
										</td>
										<td>
											<mdp-time-picker mdp-placeholder="To Time"
												ng-model="scheduleObj.toTime"></mdp-time-picker>
										</td>
									</tr> -->
							
								<tr>
									<td align="center"><label>Start Time</label></td>
									<td align="center"><label>End Time</label></td>
								</tr>
								<tr>
									<td><mdp-time-picker name="start"
											ng-model="fromTime" flex layout="column"
											layout-align="center center"></mdp-time-picker> </td>
									<td><mdp-time-picker name="end"
											ng-model="toTime" flex layout="column"
											layout-align="center center"></mdp-time-picker> </td>
								</tr>
								<tr >
									<td colspan="2"><label>Available Days:&nbsp;&nbsp;</label>
										<label ng-repeat="day in days"  > <input type="checkbox"  
											checklist-model="scheduleObj.availableDays" 
											checklist-value="day"> &nbsp;{{day}}&nbsp;
									</label>
									
									
									
									</td>
								</tr>
								
								<!-- <tr>
									<td colspan="3" align="center">
									
										<div class="form-group">
											<label>Available Days</label><br>
											<md-input-container> <md-select
												align="center" ng-model="scheduleObj.availableDays"
												md-on-close="clearSearchTerm()"
												data-md-container-class="selectdemoSelectHeader" multiple
												required> <md-select-header
												class="demo-select-header"> <input
												ng-model="searchTerm" type="search"
												placeholder="Available Days"
												class="demo-header-searchbox md-text"> </md-select-header> <md-optgroup
												label="day"> <md-option ng-value="day"
												ng-repeat="day in days |
              filter:searchTerm">{{day}}</md-option>
											</md-optgroup> </md-select> </md-input-container>
										</div>
										
									</td>
								</tr> -->
							</table>
							<br> <br>
							<div class="reset-button">
								<button class="btn btn-success" ng-click="addScheduleObj()" ng-show="hasFeature('My Availability').canAdd==true"
									ng-disabled="!fromTime || !toTime || !scheduleObj.availableDays">Save</button>
								<a class="btn btn-warning" ng-click="gotoback()">Cancel</a>

							</div>
						</form>


						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<!-- <th>Serial No</th> -->
										<th>start time</th>
										<th>End time</th>
										<th>Day</th>
											<!-- <th>Availability</th> -->
											<th>Status</th>
										<th>Delete</th>
										
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="schedule in scheduleLists| orderBy : 'id':true"">
										<td>{{schedule.fromTime | date:'HH:mm:ss'}}</td>
										<td>{{schedule.toTime | date:'HH:mm:ss'}}</td>
										<td>{{arrayToString(schedule.availableDays)}}</td>
                                       <!--  <td>{{schedule.scheduleStatus}}</td> -->
                                        <td><span class="label-info label label-default"
											ng-if="schedule.scheduleStatus=='AVAILABILITY'"> Available</span><span
											class="label-default label label-danger"
											ng-if="schedule.scheduleStatus=='APPOINTED'"> Appointed</span><span
											class="label-default label label-danger"
											ng-if="schedule.scheduleStatus=='HOLIDAY'"> HOLIDAY</span>
											</td>
										<td>
											<button class="btn btn-danger btn-sm" data-toggle="tooltip"
												data-placement="right" 
												ng-click="deleteSchedule(schedule.id);" title="Delete ">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button>
										</td>
									</tr>
									<tr ng-if="scheduleLists.length == 0">
										<td colspan="6" align="center">
											<h3>
												<i class="fa fa-meh-o"></i> No records found!
											</h3>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="page-nation text-right">
							<ul class="pagination pagination-large">
								<li><a rel="next" ng-click="firstPage();">First</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="left"
									ng-click="previousPage();" title="prev"> <i
										aria-hidden="true"></i><<
								</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="right"
									ng-click="nextPage();" title="next"> <i aria-hidden="true"></i>>>
								</a></li>
								<li><a rel="next" ng-click="lastPage();">Last</a></li>
							</ul>
						</div>
						
					</div>

				</div>
			</div>
		</div>


	</section>
	<!-- /.content -->


	<!-- schedules End//data-placement="right"//149 ng-show="hasFeature('My Availability').canDelete==true"-->

</div>
