<div class="panel-body"
	ng-init="getCountrysBasedOnIsdCode();getAllClients();">
	<form id="registrationForm" name="patientForm">
		<div class="col-sm-12">
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patient.address.country == undefined || patient.address.country =='' "
					style="color: red">*</span>Country</label> <select
					ng-value="patient.address.country" ng-model="patient.address.country" class="form-control"
					name="country" aria-required="true" aria-invalid="true"
					ng-options="country as country.name  for country in countriesList"
					ng-change="getAllStatesByCountryId(patient.address.country.id);"
					required>
					<option value="" class="active">Select Country</option>
				</select> <span style="color: red"
					ng-show="(patientForm.country.$touched && patientForm.country.$invalid)">
					<span ng-show="patientForm.country.$error.required">Country
						is required.</span>
				</span>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patient.address.state == undefined || patient.address.state =='' "
					style="color: red">*</span>State</label> <select
					 ng-value="patient.address.state" ng-model="patient.address.state" class="form-control" name="state"
					aria-required="true" aria-invalid="true"
					ng-options="state as state.name for state in statesList"
					ng-change="getAllCitiesByStateId(patient.address.state.id);"
					required>
					<option value="" class="active">Select State</option>
				</select> <span style="color: red"
					ng-show="(patientForm.state.$touched && patientForm.state.$invalid)">
					<span ng-show="patientForm.state.$error.required">State is
						required.</span>
				</span>
			</div>


			<div class="form-group col-lg-6">
				<label><span
					ng-if="patient.address.cityName == undefined || patient.address.cityName =='' "
					style="color: red">*</span>City</label>
				<!-- <select ng-model="patient.address.city"
										class="form-control" name="city" aria-required="true"
										aria-invalid="true"
										ng-options="city as city.name  for city in citiesList"
										required>
										<option value="" class="active">Select City</option>
									</select><span style="color: red"
										ng-show="(patientForm.city.$touched && patientForm.city.$invalid)">
										<span ng-show="patientForm.city.$error.required">City
											is required.</span>
									</span> -->


				<input type="text" value="" class="form-control" name="cityName"
					id="txt_username" ng-value="patient.address.cityName"  ng-model="patient.address.cityName"
					aria-required="true" aria-invalid="true" required><span
					style="color: red"
					ng-show="(patientForm.cityName.$touched && patientForm.cityName.$invalid)">
					<span ng-show="patientForm.cityName.$error.required">City is
						required.</span>
				</span>

			</div>

			<!-- <div class="form-group col-lg-6">
									<label>City</label><input type="text" ng-model="city" class="form-control" ng-autocomplete options="options" details="details"/>
								</div>
							 <br>
    <b>autocomplete</b>: {{city}} -->
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patient.address.zipcode == undefined || patient.address.zipcode == '' "
					style="color: red">*</span>Zip/Postal Code</label> <input type="text"
					allow-only-numbers  ng-value="patient.address.zipcode" ng-model="patient.address.zipcode"
					class="form-control" name="zipcode" maxlength="5"
					placeholder="Enter zipcode" required> <span
					style="color: red"
					ng-show="(patientForm.zipcode.$touched && patientForm.zipcode.$invalid)">
					<span ng-show="patientForm.zipcode.$error.required">Zip/Postal
						Code is required.</span>
				</span>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patient.address.address1 == undefined || patient.address.address1 == '' "
					style="color: red">*</span>Address</label>
				<textarea type="text" class="form-control" rows="3"
					 ng-value="patient.address.address1" ng-model="patient.address.address1" name="address"
					placeholder="Enter Address" required></textarea>
				<span style="color: red"
					ng-show="(patientForm.address.$touched && patientForm.address.$invalid)">
					<span ng-show="patientForm.address.$error.required">Address
						is required.</span>
				</span>
			</div>
		</div>
	</form>
	<div align="right">
		<button class="btn btn-primary" ng-click="gotoPatientDetails(patient);">Previous</button>
		<button class="btn btn-warning" ng-click="gotoPatientPayment(patient);">Next</button>
	</div>
</div>