<div class="content-wrapper"  ng-init="getPaymentsByRole()">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-box1"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Payments List</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Payments List</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading" ng-click="gotoAdd();">

						<!-- <div class="btn-group">
							<a class="btn btn-success"> <i class="fa fa-plus"></i> Add
								Department
							</a>
						</div> -->
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="panel-header">
								<div class="col-sm-4">
									<div class="dataTables_length">
										<label>Display <select name="example_length"
											ng-model="size" ng-change="sizeChanged(size);">
												<option value="5">5</option>
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select> records per page
										</label>
									</div>
								</div>
								<div class="col-sm-4"></div>

								<!-- <div class="col-sm-4">
									<div class="dataTables_length">
										<div class="input-group custom-search-form">
											<input type="search" class="form-control"
												placeholder="search.." ng-model="naveen"> <span
												class="input-group-btn">
												<button class="btn btn-primary" type="button">
													<span class="glyphicon glyphicon-search"></span>
												</button>
											</span>
										</div>
									</div>
								</div> -->
							</div>

						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>

										<!-- <th>Patient  Name</th>
										<th>Parent Name</th> -->
										<th>Patient name</th>
									<!-- 	<th>Start Time</th> -->
										<th>Paid date</th>
										<th>Paid Amount</th>
										<th>Remaining Amount</th>
										 <th>Total Amount</th>
                                     <!--   <th>Status</th> -->
										
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								
									<tr 
										ng-repeat="payment in paymentsListByRole | orderBy : 'id':true">

										<!-- <td>{{payment.patient.firstName}}</td>
										<td>{{payment.patient.firstName}}</td> -->
										<!-- <td>{{$rootScope.$rootScope.patientFistName}}</td> -->
										<!-- <td>{{payment.paymentStartTime }}</td> -->
										<td>{{payment.patient.firstName}}</td>
										<td>{{payment.paidDate }}</td>
										<td>{{payment.paidAmount }}</td>
										<td>{{payment.remainingAmount }}</td>
										 <td>{{payment.totalAmount}}</td>
										<!--<td><span class="label-success label label-default" ng-if="appointment.occurance=='NEVER'">Once</span>
							                <span class="label-info label label-default" ng-if="appointment.occurance=='WEEKLY'">Recursive</span>			
										</td> -->
										
										<td align="center" >
										<button class="btn btn-info btn-sm" data-toggle="tooltip"
												data-placement="right"
												ng-click="gotoUpadatePayment(payment)"
												title="update ">
										<i class="fa fa-pencil"></i></button>
											
										</td> 
										
									</tr>
									<tr ng-if="paymentsListByRole.length == 0">
										<td colspan="12" align="center">
											<h3>
												<i class="fa fa-meh-o"></i> No records found!
											</h3>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="page-nation text-right">
							<ul class="pagination pagination-large">
								<li><a rel="next" ng-click="firstPage();">First</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="left"
									ng-click="previousPage();" title="prev"> <i
										aria-hidden="true"></i><<
								</a></li>
								<li><a rel="next" class="btn btn-info btn-md"
									data-toggle="tooltip" data-placement="right"
									ng-click="nextPage();" title="next"> <i aria-hidden="true"></i>>>
								</a></li>
								<li><a rel="next" ng-click="lastPage();">Last</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>



					
				<!-- 	<div class="panel-body" ng-init="getPaymentsByPatient()">
					
						
							<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>

										
										<th>Patient name</th>
									
										<th>Paid Amount</th>
										<th>Remaining Amount</th>
										 <th>Total Amount</th>
                                  
										
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								
									<tr 
										ng-repeat="payment in paymentsList | orderBy : 'id':true">

									
										<td>{{patientFistName}}</td>
										<td>{{payment.paidAmount }}</td>
										<td>{{payment.remainingAmount }}</td>
										 <td>{{payment.totalAmount}}</td>
									
										
										<td align="center" >
										<button class="btn btn-info btn-sm" data-toggle="tooltip"
												data-placement="right"
												ng-click="gotoUpadatePayment(payment)"
												title="update ">
										<i class="fa fa-pencil"></i></button>
											
										</td> 
										
									</tr>
									<tr ng-if="paymentsList.length == 0">
										<td colspan="12" align="center">
											<h3>
												<i class="fa fa-meh-o"></i> No records found!
											</h3>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
		 -->
