<div class="panel-body"
	ng-init="getCountrysBasedOnIsdCode();getAllClients();">
	<form>
		<!-- <div class="col-sm-6">
			<label>Patient Name</label> <input type="text" ng-value="patient.firstName" ng-model="patient.firstName" class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Parent Name</label> <input type="text" ng-value="patient.gaurdian"  ng-model="patient.gaurdian" class="form-control">
		</div> -->
	<!-- 	<div class="col-sm-6">
			<label>Payment Type</label> <select class="form-control"
				ng-model="type">
				<option value="" ng-model="payment.paymentTypes"  class="active">Select Payment Type</option>
				<option ng-value="1">Check</option>
				<option ng-value="2">swipe</option>
				<option ng-value="3">DD</option>
				<option ng-value="4">Cash</option>
			</select>
		</div>
		<div class="col-sm-6" ng-if="type==1">
			<label>Check Number</label> <input type="text" ng-model="payment." class="form-control">
		</div>
		<div class="col-sm-6" ng-if="type==1">
			<label>Check Issued Bank</label> <input type="text" ng-model="payment."
				class="form-control">
		</div>
		<div class="col-sm-6" ng-if="type==3">
			<label>DD Number</label> <input type="text" ng-model="payment." class="form-control">
		</div>
		<div class="col-sm-6" ng-if="type==3">
			<label>DD Issued Bank</label> <input type="text" ng-model="payment." class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Mode Of Payment Type</label> <select ng-model="selectedName"
				class="form-control">
				<option value="" class="active">Select Mode Of Payment Type</option>
				<option ng-value="1">Weekly once</option>
				<option ng-value="2">once</option>
				<option ng-value="3">Monthly</option>
				<option ng-value="4">Yearly</option>
			</select>
		</div>  -->
		<!-- email{{patient.email}} -->
		<div class="col-sm-6">
			<label>Amount</label> <input type="text"ng-model="payment.paidAmount" ng-model="payment.paidAmount" class="form-control">
		</div>
		<!-- <div class="col-sm-6">
			<label>Number of cycles</label> <input type="text" ng-model="payment.noOfCycles"
				class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Therapy done date</label> <input type="date" ng-model="payment.therapyDoneDate"
				class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Paid Date</label> <input type="date" ng-model="payment.paidDate" class="form-control">
		</div> -->
		<div class="col-sm-6">
			<label>Total Amount</label> <input type="text" ng-model="payment.totalAmount" class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Paid Amount</label> <input type="text" ng-model="payment.paidAmount"class="form-control">
		</div>
		<div class="col-sm-6">
			<label>Remaining Amount</label> <input type="text" ng-model="payment.remainingAmount"
				class="form-control">
		</div>
	</form> 
	<div align="center" class="col-sm-12">
	<br>
		
		<button class="btn btn-primary" ng-click="updatePayment(payment)"
			ng-disabled="patientForm.$invalid">Update</button>
			<button class="btn btn-danger" ng-click="gotoList();">Cancel</button>	
	</div>
</div>