
<div class="content-wrapper"
	ng-init="getAllQuestionCategories();getAllgoals();getAllCratedDatesOfPatientGoals();">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-wallet"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Patient Additional Information</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a href=""><i class="pe-7s-home"></i> Home</a></li>
				<li><a href="#">Patient List</a></li>
				<li class="active">View More</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a ng-click="gotoDocuments();"
						data-toggle="tab">Patient Documents</a></li>
					<li><a ng-click="gotoEvalution();" data-toggle="tab">Patient
							Evaluation Sheet</a></li>
					<li><a href="" data-toggle="tab" target="self"
						ng-click="gotoGoals();">Patient
							Goals Sheet</a></li>
					<li><a href="#tab3" data-toggle="tab" target="self"
						ng-click="gotoProgress();">Patient Progress Notes</a></li>
					<li><a href="#tab4" data-toggle="tab" target="self"
						ng-click="gotoExit();getExitSheetReportBy();">Patient Exit Note</a></li>
				</ul>
				<!-- Tab panels -->
				<div class="tab-content" ui-view></div>
			</div>
		</div>
	</div>