
  
            
<div class="page">
	<div class="panel panel-default" ng-controller="CountryMasterController">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span>Country
				Types</strong> <input style="margin-top: -7px;" value="Add country"
				class="btn btn-primary pull-right" type="button"
				ng-click="countryMasterAdd();open('md');" />
				
				
		</div>
		<div class="panel-body">
			<!--<p id="xyz"></p>-->
			<div class="table-filters">
				<div class="row">

					<table align="center">
					
					<tr>
							<td align="right"> Search:
						<input class="" ng-model="search.$"> </td></tr>


					</table>

				</div>
			</div>
			
			<br />
			<table class="table table-bordered table-striped table-responsive">
				<thead>

					
					<tr>
						<th style="background-color: grey" colspan="12" align="left">
							<input type="checkbox" id="selectall" onClick="selectAll(this)" />&nbsp;


							<label style="margin-bottom: 0px; color: white">Country List</label>
						</th>
					</tr>

					<tr>
						<th>
							<div class="th"></div>
						</th>

						<th>
							<div class="th">
								Country Id
							</div>
						</th>
						<th>
							<div class="th">
								Short name 
							</div>
						</th><th>
							<div class="th">
								Full name
							</div>
						</th>
						<th>
							<div class="th">
								ISD	Code 
							</div>
						</th>
						<th>
							<div class="th">
								Mobile Length 
							</div>
						</th>
					<!-- 	<th><label style="margin-bottom: 0px;">Created By
								User</label></th> -->
						<th><label style="margin-bottom: 0px;">Modify</label></th>
						<th><label style="margin-bottom: 0px;">Delete</label></th>
					</tr>
				</thead>
				<!-- <tbody> -->
				<tbody dir-paginate="country in countryuses | itemsPerPage:5 | filter:search:strict">
				<!-- 	<tr ng-repeat="country in countryuses"> -->

						<td><input type="checkbox" name="names[]" value="dinesh" /></td>
						<td>{{country.cid}}</td>
						<td>{{country.csname}}</td>
						<td>{{country.cfname}}</td>
						<td>{{country.cicode}}</td>
						<td>{{country.cmobile}}</td>
						
						<!-- <td>{{country.sid}}</td> -->
						<td>
							<!--ng-click="open('lg')"--> <i
							ng-click="countryMasterEdit($index);open('md');"
							style="font-size: 17px; margin-bottom: 0px; cursor: pointer;"
							class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</td>
						<td><i ng-click="deleteopen($index);"
							style="font-size: 17px; margin-bottom: 0px; cursor: pointer;"
							class="fa fa-trash" aria-hidden="true"></i></td>
				<!-- 	</tr> -->

				</tbody>
			</table>
			
			
			<tfoot align="right">
				<dir-pagination-controls max-size="5" direction-links="true"
					boundary-links="true"> </dir-pagination-controls>
			</tfoot>
			<!-- <footer class="table-footer">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span> Show <select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()"></select> entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm" ng-model="currentPage"
							total-items="filteredStores.length" max-size="4"
							ng-change="select(currentPage)" items-per-page="numPerPage"
							rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;"
							boundary-links="true"></pagination>
					</div>
				</div>
			</footer> -->
			<script type="text/ng-template" id="CModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modaltitle">{{tag}}</h3>                    
                </div>
                <div class="modal-body">
                    <p>Short Name</p>
                    <input type="text" class="form-control" id="txt_Country_shortName" ng-model="csname" />
                    <p class="text-danger-red" id="lbl_e_Country_shortName"></p>

                       <p>Full Name</p>
                    <input type="text" class="form-control" id="txt_Country_fullName" ng-model="cfname" />
                    <p class="text-danger-red" id="lbl_e_country_fullName"></p>

                       <p>ISD code</p>
                    <input type="text" class="form-control" id="txt_Country_isdCode" ng-model="cicode" />
                    <p class="text-danger-red" id="lbl_e_country_isdCode"></p>

                       <p>Mobile Length</p>
                    <input type="text" class="form-control" id="txt_Country_mobile" ng-model="cmobile" />
                    <p class="text-danger-red" id="lbl_e_Country_mobile"></p>


                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"   ng-click="ok()" >Submit</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
			<script type="text/ng-template" id="CModalContentdelete.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modaltitle">Delete Country</h3>
                </div>
                <div class="modal-body">
                   <p>Please confirm to delete {{countrytext}}</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary"  ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
		</div>
	</div>


	<script language="JavaScript">
		function selectAll(source) {
			checkboxes = document.getElementsByName('names[]');
			for ( var i in checkboxes)
				checkboxes[i].checked = source.checked;
		}
	</script>


</div>
            

            
            
            