
<!-- Content Wrapper -->
<div class="login-wrapper">
	<!--<div class="back-link">
            <a href="#" class="btn btn-success"></a>
        </div>-->
	<div class="container-center">
		<div class="panel panel-bd">
			<div class="panel-heading">
				<div class="view-header">
					<div class="header-icon">
						<i class="pe-7s-unlock"></i>
					</div>
					<div class="header-title">
						<h3>Forgot Password</h3>
						<small><strong>Please enter your E-mail to
								Restore Password.</strong></small>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<form id="forgotPasswordForm" name="forgotPasswordForm">
					<div class="form-group">
						<label class="control-label" for="username">User Name</label> <input
							type="email" value="" id="txt_email"
							placeholder="example@gmail.com" class="form-control" name="email"
							ng-model="email" aria-required="true" class="error"
							id="txt_user_email" aria-invalid="true"
							ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
							ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required> <span
							style="color: red" ng-cloak
							ng-show="(forgotPasswordForm.email.$touched && forgotPasswordForm.email.$invalid)">
							<span ng-show="forgotPasswordForm.email.$error.required">Email
								is required.</span> <span style="color: red"
							ng-show="forgotPasswordForm.email.$error.pattern"> Please
								enter a valid email address!</span>
					</div>
					<div class="row" align="center">
						<span ng-if="message != undefined" style="color: red">{{message}}
						</span><br>
					</div>
					<div align="center">
						<button class="btn btn-primary"
							ng-disabled="!email"
							ng-click="doForgotPassword(email);">Submit</button> <a
							class="btn btn-danger" ui-sref="login">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


